body
	{
		color:#696969;font-family: "ו";font-size: 12px; background: url("images/b2b_body.png") repeat;
	}
a
	{
		text-decoration:none; color:#696969;
	}
a:hover
	{
		text-decoration:underline;color: #E4393C;
	}
* 
	{
		margin: 0;
		padding: 0;
	}
.clear
	{
		clear:both; float:none;
	}
.b2b_dingdanjianshi_logo
	{
		width:85%;margin:0 auto;
	}
.b2b_dingdanjianshi_2 
	{
		float:right;
		height: 24px;
		margin-top:30px;
		width: 50%;
	}	
.b2b_dingdanjianshi_2_1 
	{
		color: #696969;
		float: right;
		height: 24px;
		line-height: 24px;
		text-align: right;
		width: 60%;font-size: 14px; 
	}
.b2b_dingdanjianshi_2_1 span
	{
		color:#fe0814;
	}	
.b2b_dingdanjianshi_2_2 
	{
		float: right;
		margin-right: 20px;
	}	
.b2b_dingdanjianshi_2_tuichu 
	{
		border: 1px solid #FFFFFF !important;
		color: #000000;
		float: left;
		font: 12px/15px Tahoma,Verdana;
		height: 18px !important;
		margin-top: 2px;
		outline: 1px solid #D3E0E7;
		padding: 0 5px;
	}	
.b2b_dingdanjianshi_hengxian
	{
		width:100%;height:10px;background-color:#2580c5;
	}
.b2b_dingdanjianshi_dingdan
	{
		width:85%;margin:0 auto;
	}	
.b2b_dingdanjianshi_dingdan h2
	{
		width:100%;height:30px;border-bottom:1px dashed #696969;
	}
.b2b_dingdanjianshi_dingdan h2 li
	{
		float:left;width:100px;height:30px;font-size:13px;color:#696969;padding-left:10px;line-height:30px;list-style-type:none
	}
.b2b_dingdanjianshi_dingdan ul
	{
		width:100%;height:auto;
	}		
.b2b_dingdanjianshi_dingdan_div
	{
		width:100%;height:24px;background-color:#eeeff0;
	}
.b2b_dingdanjianshi_dingdan_div ul
	{
		width:100%;height:auto;
	}	

	
	
	
	
	
	
.b2b_guanlizhongxin_body
	{
		width:100%;margin:0 auto;
	}
.b2b_guanlizhongxin_body h2
	{
		width:80%;height:30px;font-size:13px;color:#696969;padding-left:10px;line-height:30px;border-bottom:1px dashed #696969;
	}
.b2b_guanlizhongxin_body ul
	{
		width:100%;height:auto;float:left;
	}
.b2b_guanlizhongxin_body  ul li
	{
		padding-left:30px;height:34px;line-height:34px;list-style-type:none
	}
.b2b_guanlizhongxin_body  ul li a
	{
		padding-left:30px;height:34px;line-height:34px;color:#2580c5;
	}
.b2b_guanlizhongxin_body  ul li span
	{
		color:#fe0814;
	}	