BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
HR {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
BODY {
	FONT: 12px/1.5 tahoma,arial,ËÎÌå,sans-serif
}
HTML {
	FONT: 12px/1.5 tahoma,arial,ËÎÌå,sans-serif
}
INPUT {
	FONT: 12px/1.5 tahoma,arial,ËÎÌå,sans-serif
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
PRE {
	WORD-WRAP: break-word
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
INPUT.dialog {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 0; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; HEIGHT: 0px; FONT-SIZE: 0px; BORDER-LEFT-STYLE: none
}
H1 {
	FONT-SIZE: 34px
}
H2 {
	FONT-SIZE: 26px
}
H3 {
	FONT-SIZE: 18px
}
H4 {
	FONT-SIZE: 16px
}
H5 {
	FONT-SIZE: 14px
}
H6 {
	FONT-SIZE: 12px
}
INPUT {
	VERTICAL-ALIGN: middle
}
LABEL {
	VERTICAL-ALIGN: middle
}
IMG {
	VERTICAL-ALIGN: middle
}
TH {
	VERTICAL-ALIGN: middle
}
.font-fixh {
	FONT-FAMILY: Georgia,Arial; COLOR: #f00; FONT-SIZE: 16px; FONT-WEIGHT: 700
}
ADDRESS {
	FONT-STYLE: normal
}
CITE {
	FONT-STYLE: normal
}
DFN {
	FONT-STYLE: normal
}
EM {
	FONT-STYLE: normal
}
VAR {
	FONT-STYLE: normal
}
CODE {
	FONT-FAMILY: courier new,courier,monospace
}
KBD {
	FONT-FAMILY: courier new,courier,monospace
}
PRE {
	FONT-FAMILY: courier new,courier,monospace
}
SAMP {
	FONT-FAMILY: courier new,courier,monospace
}
INPUT.button {
	PADDING-BOTTOM: 0.25em; PADDING-LEFT: 0.25em; WIDTH: auto; PADDING-RIGHT: 0.25em; OVERFLOW: visible; PADDING-TOP: 0.25em; _width: 0
}
INPUT.btn {
	PADDING-BOTTOM: 0.25em; PADDING-LEFT: 0.25em; WIDTH: auto; PADDING-RIGHT: 0.25em; OVERFLOW: visible; PADDING-TOP: 0.25em; _width: 0
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.white {
	COLOR: #fff
}
.white A {
	COLOR: #fff
}
.gray4 {
	COLOR: #999
}
A.gray4 {
	COLOR: #999
}
.red {
	COLOR: #CE0018
}
.red A {
	COLOR: #CE0018
}
A.red {
	COLOR: #CE0018
}
.green {
	COLOR: #0e774a
}
SELECT OPTGROUP {
	COLOR: #cac8bb
}
header {
	DISPLAY: block
}
.hidden {
	DISPLAY: none
}
.invisible {
	VISIBILITY: hidden
}
.ib {
	ZOOM: 1; DISPLAY: inline
}
.ib-a A {
	ZOOM: 1; DISPLAY: inline
}
.clear:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.main:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.clear {
	DISPLAY: inline-block
}
.main {
	DISPLAY: inline-block
}
* HTML .clear {
	HEIGHT: 1%
}
* HTML .main {
	HEIGHT: 1%
}
.clear {
	DISPLAY: block
}
.main {
	DISPLAY: block
}
.f12 {
	FONT-SIZE: 12px
}
.f14 {
	FONT-SIZE: 14px
}
.f16 {
	FONT-SIZE: 16px
}
.f18 {
	FONT-SIZE: 18px
}
.f20 {
	FONT-SIZE: 20px
}
.lh20 {
	LINE-HEIGHT: 20px
}
.lh22 {
	LINE-HEIGHT: 22px
}
.lh24 {
	LINE-HEIGHT: 24px
}
.lh26 {
	LINE-HEIGHT: 26px
}
.lh28 {
	LINE-HEIGHT: 28px
}
.fb {
	FONT-WEIGHT: bold
}
.fn {
	FONT-WEIGHT: normal
}
.bk {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk3 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk6 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk8 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk10 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk15 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk20 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk30 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk3 {
	HEIGHT: 3px
}
.bk6 {
	HEIGHT: 6px
}
.bk8 {
	HEIGHT: 8px
}
.bk10 {
	HEIGHT: 10px
}
.bk15 {
	HEIGHT: 15px
}
.bk20 {
	HEIGHT: 20px
}
.bk30 {
	HEIGHT: 30px
}
.row-2 LI {
	WIDTH: 50%; FLOAT: left
}
.row-3 LI {
	WIDTH: 33%; FLOAT: left
}
.row-4 LI {
	WIDTH: 25%; FLOAT: left
}
.row-5 LI {
	WIDTH: 20%; FLOAT: left
}
.cu {
	CURSOR: pointer
}
.cu-li LI {
	CURSOR: pointer
}
.cu-span SPAN {
	CURSOR: pointer
}
.text-c {
	TEXT-ALIGN: center
}
.text-l {
	TEXT-ALIGN: left
}
.text-r {
	TEXT-ALIGN: right
}
.lf {
	FLOAT: left
}
.rt {
	FLOAT: right
}
.pr {
	POSITION: relative
}
.pa {
	POSITION: absolute
}
.img-wrap {
	BORDER-BOTTOM: #eee 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #eee 1px solid; OVERFLOW: hidden; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid
}
.img-wrap A {
	BACKGROUND-COLOR: #fff; DISPLAY: block; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
.img-wrap A:hover {
	BACKGROUND-COLOR: #e8eff6
}
.col-left {
	FLOAT: left
}
.col-auto {
	OVERFLOW: hidden; _zoom: 1; _float: left
}
.col-right {
	FLOAT: right
}
BODY {
	HEIGHT: 100%; COLOR: #444
}
A {
	COLOR: #444; TEXT-DECORATION: none
}

HTML.on {
	BACKGROUND: #ffffff
}
HTML.on BODY {
	BACKGROUND: #ffffff
}
HTML.addbg {
	BACKGROUND: #e2e9ea
}
HTML.addbg BODY {
	BACKGROUND: #e2e9ea
}
A:hover {
	TEXT-DECORATION: underline
}
.pad-6 {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; OVERFLOW: hidden; PADDING-TOP: 6px
}
.pad-10 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.pad_10 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.pad-lr-10 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.pad-lr-6 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.hr {
	BACKGROUND: url(../images/uline.gif) repeat-x center center
}
.hr HR {
	DISPLAY: none
}
.border-none {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.border-none-td TD {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.ib {
	ZOOM: 1; DISPLAY: inline
}
.ib-li LI {
	ZOOM: 1; DISPLAY: inline
}
.ib-a A {
	ZOOM: 1; DISPLAY: inline
}
.ib-span SPAN {
	ZOOM: 1; DISPLAY: inline
}
.common-form UL LI SPAN.text {
	ZOOM: 1; DISPLAY: inline
}
.fixed-bottom .fixed-but .button {
	ZOOM: 1; DISPLAY: inline
}
.arrowhead {
	ZOOM: 1; DISPLAY: inline
}
.arrowhead-b {
	ZOOM: 1; DISPLAY: inline
}
#Skin LI {
	ZOOM: 1; DISPLAY: inline
}
.shortcut A {
	ZOOM: 1; DISPLAY: inline
}
.shortcut A SPAN {
	ZOOM: 1; DISPLAY: inline
}
.picBut A {
	ZOOM: 1; DISPLAY: inline
}
.tab-use {
	ZOOM: 1; DISPLAY: inline
}
.scroll A {
	ZOOM: 1; DISPLAY: inline
}
.cut_line SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #4d82bc; PADDING-TOP: 0px
}
.mr6 {
	MARGIN-RIGHT: 6px
}
.mr1 {
	MARGIN-RIGHT: 1px
}
.mr10 {
	MARGIN-RIGHT: 10px
}
.mb6 {
	MARGIN-BOTTOM: 6px
}
.mb8 {
	MARGIN-BOTTOM: 8px
}
.mb10 {
	MARGIN-BOTTOM: 10px
}
.picBut {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 75px; BACKGROUND: url(../images/picBnt.png) no-repeat 0px -28px; FLOAT: left; HEIGHT: 28px; COLOR: #fff; FONT-WEIGHT: 700; MARGIN-RIGHT: 10px
}
.picBut A {
	WIDTH: 75px; COLOR: #fff; TEXT-DECORATION: none
}
.line-x {
	BORDER-BOTTOM: #eee 1px solid
}
.title-1 {
	BORDER-BOTTOM: #eee 1px solid; PADDING-LEFT: 5px
}
.title-2 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 18px/33px "MicroSoft YaHei","SimHei"; HEIGHT: 33px; COLOR: #333; PADDING-TOP: 8px
}
BODY FIELDSET {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 10px
}
BODY FIELDSET LEGEND {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #f9f9f9; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-TOP: #d8d8d8 1px solid; FONT-WEIGHT: 700; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 3px
}
BODY FIELDSET.blue {
	BORDER-BOTTOM: #dce3ed 1px solid; BORDER-LEFT: #dce3ed 1px solid; BORDER-TOP: #dce3ed 1px solid; BORDER-RIGHT: #dce3ed 1px solid
}
BODY FIELDSET.blue LEGEND {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 3px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #347add; BORDER-LEFT-STYLE: none; FONT-WEIGHT: 700; PADDING-TOP: 3px
}
.fixed-bottom {
	HEIGHT: 60px; _margin-top: 12px
}
.fixed-bottom .fixed-but {
	POSITION: fixed; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 100%; BOTTOM: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/x_bg.png) #fff repeat-x 0px -100px; HEIGHT: 30px; BORDER-TOP: #f1f1f1 1px solid; PADDING-TOP: 10px; _position: relative
}
.fixed-bottom .fixed-but .button {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 32px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; BORDER-TOP-STYLE: none; BACKGROUND: url(../images/btn-content.png) no-repeat; HEIGHT: 32px; VERTICAL-ALIGN: middle; BORDER-LEFT-STYLE: none
}
.fixed-bottom .fixed-but .button INPUT {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 32px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; BORDER-TOP-STYLE: none; BACKGROUND: url(../images/btn-content.png) no-repeat; HEIGHT: 32px; VERTICAL-ALIGN: middle; BORDER-LEFT-STYLE: none
}
.fixed-bottom .fixed-but .button {
	PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.fixed-bottom .fixed-but .button INPUT {
	MARGIN: 0px; PADDING-RIGHT: 10px; DISPLAY: block; WHITE-SPACE: nowrap; BACKGROUND-POSITION: right top; COLOR: #004092; FONT-SIZE: 14px; FONT-WEIGHT: 700
}
.subnav {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.subnav H2 {
	MARGIN-BOTTOM: 6px
}
.explain-col {
	BORDER-BOTTOM: #ffbe7a 1px solid; BORDER-LEFT: #ffbe7a 1px solid; PADDING-BOTTOM: 8px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; ZOOM: 1; BACKGROUND: #fffced; BORDER-TOP: #ffbe7a 1px solid; BORDER-RIGHT: #ffbe7a 1px solid; PADDING-TOP: 8px
}
.vote_bar {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; WIDTH: 90%; HEIGHT: 13px; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.vote_bar DIV {
	POSITION: relative; BACKGROUND: url(../images/x_bg.png) repeat-x left -194px; FLOAT: left; HEIGHT: 16px; _height: 13px
}
.vote_bar DIV SPAN {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 12px; WIDTH: 180px; DISPLAY: block; HEIGHT: 16px; FONT-SIZE: 10px; VERTICAL-ALIGN: middle; TOP: 0px; LEFT: 0px
}
.tab-web-panel LI A:hover {
	BACKGROUND: url(../images/icon_use.png) no-repeat
}
.tab-web-panel LI.on A {
	BACKGROUND: url(../images/icon_use.png) no-repeat
}
.header {
	POSITION: relative; BACKGROUND: url(../images/topbg.jpg) #3a6ea5 repeat-x left bottom; HEIGHT: 70px
}
.header .logo {
	WIDTH: 190px; BACKGROUND: url(../images/logo.png) no-repeat; FLOAT: left; HEIGHT: 70px; MARGIN-left: 10px; _margin-right: 7px
}
.header .logo A {
	DISPLAY: block; HEIGHT: 80px; TEXT-DECORATION: none
}
.header .rt-col {
	Z-INDEX: 10; POSITION: absolute; WIDTH: 380px; HEIGHT: 44px; TOP: 0px; RIGHT: 0px
}
.header .rt-col .ul-top {
	width:auto;
	height:25px;
	float:right;
	margin-top:22px;
	margin-bottom:23px;
	display:inline;
}
.header .rt-col .ul-top li {
	width:75px;
	height:30px;
	float:left;
	text-indent:10px;
	background:url(../images/topnavbg.png) no-repeat;
	line-height:30px;
	text-align:center;
	margin-right:15px;
}
.header .rt-col .ul-top li a {
	color:#000000;
	text-decoration:none;
}
.header .rt-col .ul-top li a:hover {
	color:#A20004;
	text-decoration:none;
}
.header .nav {
	POSITION: relative; BOTTOM: -10px; DISPLAY: block; HEIGHT: 34px
}
.header .col-auto {
	FLOAT: none; OVERFLOW: visible
}
.header .nav LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.header .nav LI A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 15px; BACKGROUND-POSITION: right top; PADDING-TOP: 0px
}
.header .nav LI.tab_web {
	POSITION: relative
}
.header .nav LI.tab_web A {
	POSITION: absolute
}
.header .nav LI.tab_web A {
	LINE-HEIGHT: 38px; BACKGROUND: url(../images/site.png) no-repeat; HEIGHT: 34px; _float: left
}
.header .nav LI.tab_web A SPAN {
	LINE-HEIGHT: 38px; BACKGROUND: url(../images/site.png) no-repeat; HEIGHT: 34px; _float: left
}
.header .nav LI.tab_web {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 38px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.header .nav LI.tab_web A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; CURSOR: pointer; PADDING-TOP: 0px
}
.header .nav LI.tab_web A:hover {
	BACKGROUND-POSITION: left -40px; COLOR: #3a6ea5; TEXT-DECORATION: none
}
.header .nav LI.tab_web A.on {
	BACKGROUND-POSITION: left -40px; COLOR: #3a6ea5; TEXT-DECORATION: none
}
.header .nav LI.tab_web A SPAN {
	PADDING-RIGHT: 24px; DISPLAY: block; BACKGROUND-POSITION: right 2px
}
.header .nav LI.tab_web A:hover SPAN {
	BACKGROUND-POSITION: right -40px
}
.header .nav LI.tab_web A.on SPAN {
	BACKGROUND-POSITION: right -40px
}

.part2 {
	width:100%;
	height:35px;
	margin:0 auto;
	background:url(../images/part2bg.jpg) repeat-x;
}
.part2 .info {
	width:170px;
	height:31px;
	float:left;
	padding-left:20px;
	line-height:31px;
	color:#333;
}
.part2 .info a {
	width:auto;
	height:31px;
	color:#C60018;
	line-height:31px;
	margin-left:15px;
	text-decoration:none;
}
.part2 .p2menu {
	width:600px;
	height:30px;
	float:left;
	margin-top:3px;
	margin-bottom:4px;
	display:inline;
}
.ul-p2menu {
	width:100%;
	height:30px;
	float:left;
	font-size:14px;
}
.ul-p2menu LI.on {
	BACKGROUND-POSITION: left 0px
}
.ul-p2menu LI.on A {
	background:url(../images/p2menubg.png) no-repeat;width:77px;height:30px; COLOR: #CE0018; display:block;font-weight:bold;
}
.ul-p2menu li {
	width:77px;
	height:30px;
	float:left;
	margin-right:20px;
	text-align:center;
	line-height:30px;
	font-family:"Î¢ÈíÑÅºÚ";
	font-weight:bold;
	
	
}
.ul-p2menu li a{
	color:#000
	
	
}
.ul-p2menu li a:hover{text-decoration:none}
.part2 .zt {
	width:auto;
	height:31px;
	float:right;
	line-height:21px;
	color:#333;
	margin-right:20px;
}
.part2 .zt a {
	color:#333;
	text-decoration:none;
	margin-left:10px;
}
.part2 .zt a:hover {
	color:#CE0018;
	text-decoration:none;
}


.tab-web-panel {
	BORDER-BOTTOM: #b3cbe4 1px solid; BORDER-LEFT: #b3cbe4 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; ZOOM: 1; BACKGROUND: #fff; BORDER-TOP: #b3cbe4 1px solid; BORDER-RIGHT: #b3cbe4 1px solid; PADDING-TOP: 1px
}
.tab-web-panel LI {
	MARGIN-TOP: 1px; BACKGROUND: #f0f5f6
}
.tab-web-panel UL.tab-scroll {
	OVERFLOW-X: hidden; OVERFLOW-Y: auto; WIDTH: 150px; HEIGHT: 220px
}
.tab-web-panel LI A {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 18px; PADDING-LEFT: 8px; WIDTH: 105px; PADDING-RIGHT: 22px; DISPLAY: block; WHITE-SPACE: nowrap; HEIGHT: 18px; PADDING-TOP: 3px
}
.tab-web-panel LI A:hover {
	BACKGROUND-COLOR: #d5e5f6; BACKGROUND-POSITION: 50px -52px
}
.tab-web-panel LI.on A {
	BACKGROUND-COLOR: #d5e5f6; BACKGROUND-POSITION: 50px -52px
}
.header .col-auto {
	HEIGHT: 80px
}
.header .log {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 0px; HEIGHT: 20px; PADDING-TOP: 16px
}
.header .tab_style {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 14px; PADDING-TOP: 16px
}
#Skin {
	Z-INDEX: 1000; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 11px; FONT-SIZE: 0px; PADDING-TOP: 14px
}
#Skin LI {
	WIDTH: 14px; BACKGROUND: url(../images/skinbt.png) no-repeat; HEIGHT: 11px; CURSOR: pointer; _overflow: hidden
}
#Skin .s1 {
	BACKGROUND-POSITION: -14px -66px
}
#Skin .s2 {
	BACKGROUND-POSITION: 0px -55px
}
#Skin .s3 {
	BACKGROUND-POSITION: 0px -33px
}
#Skin .s4 {
	
}
.left_menu {
	POSITION: relative; WIDTH: 190px; DISPLAY: block; OVERFLOW: hidden; PADDING-TOP: 0px; background-color:#F3F3F1
}
#Scroll {
	PADDING-BOTTOM: 0px; WIDTH: 186px;FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 0px
}

.navbt {
	width:147px;
	margin:0 auto;
	height:28px;
	background:url(../images/leftnavbt.jpg) no-repeat;
	line-height:28px;
	color:#000000;
	font-size:14px;
	text-align:center;
	font-weight:bold;
}
.navbt_2 {
	width:147px;
	margin:0 auto;
	height:23px;
	background:url(../images/fly1.png) no-repeat;
	line-height:23px;
	color:#000000;
	font-size:14px;
	text-align:center;
	font-weight:bold;
}

.left_menu_on {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 4px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.left_menu_on #Scroll {
	DISPLAY: none
}
.left_menu H3 {
	 LINE-HEIGHT: 42px; MARGIN-BOTTOM: 5px; HEIGHT: 39px; COLOR: #000000; text-align:left; FONT-WEIGHT: bold;BACKGROUND: url(../images/navlibg.jpg) center center no-repeat; font-size:12px;width:146px; margin:0 auto
}
.left_menu H3 SPAN {
line-height:40px; WIDTH:38px; DISPLAY: block; FLOAT: left; HEIGHT: 40px; margin-left:5px
}
.left_menu H3 SPAN.on1 {
	
background:url(../images/fly1.png) center center no-repeat;
}
.left_menu H3 SPAN.on2 {
background:url(../images/fly2.png) center center no-repeat;
}
.left_menu H3 SPAN.on3 {
background:url(../images/fly3.png) center center no-repeat;
}
.left_menu H3 SPAN.on4 {
background:url(../images/fly4.png) center center no-repeat;
}
.left_menu H3 SPAN.on5 {
background:url(../images/fly5.png) center center no-repeat;
}

.left_menu UL LI A:hover {
	BACKGROUND: url(../images/left_menu_bg.jpg) center bottom  no-repeat; text-align:left; TEXT-DECORATION: none
}
.left_menu UL LI.on {
	BACKGROUND: url(../images/left_menu_bg.jpg) center bottom  no-repeat; text-align:left; TEXT-DECORATION: none
}
.left_menu UL LI.on {HEIGHT: 35px; MARGIN-RIGHT: 0px
}
.left_menu UL LI.on A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 35px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; HEIGHT: 35px; PADDING-TOP: 0px
}
.left_menu UL LI.on A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.left_menu A {
	 BACKGROUND-COLOR: #E3E7EA;
}
.left_menu A.open {
	WIDTH: 4px; DISPLAY: block; BACKGROUND-COLOR: #E3E7EA;background:url(../images/right.png) center center no-repeat; FLOAT: left; HEIGHT: auto; TOP: 0px; RIGHT: 0px
}
.left_menu A.close {
	WIDTH: 4px; DISPLAY: block; BACKGROUND-COLOR: #E3E7EA;background:url(../images/left.png) center center no-repeat; FLOAT: left; HEIGHT: auto; TOP: 0px; RIGHT: 0px
}

.left_menu A.open:hover {
	BACKGROUND-COLOR: #E3E7EA
}
.left_menu A.close:hover {
	BACKGROUND-COLOR: #E3E7EA
}
.left_menu A.close {
	WIDTH: 4px; BACKGROUND-POSITION: center center;BACKGROUND-COLOR: #E3E7EA;
}
.left_menu A.open {
	WIDTH: 4px; BACKGROUND-POSITION: center center;BACKGROUND-COLOR: #E3E7EA;
}
.scroll {
	POSITION: absolute; WIDTH: 120px; BOTTOM: 14px; DISPLAY: none; HEIGHT: 17px; OVERFLOW: hidden; LEFT: 10px
}
.scroll A {
	MARGIN: 0px 5px; WIDTH: 48px;background:url(../images/right.png) center center no-repeat; HEIGHT: 17px
}
.scroll A:hover {
	BACKGROUND-POSITION: left bottom
}
.scroll A.next {
	BACKGROUND-POSITION: right top
}
.scroll A.next:hover {
	BACKGROUND-POSITION: right bottom
}
.crumbs {
background:url(../images/rightbt.jpg) repeat-x;width:100%;
	height:23px;
	line-height:23px;
	color:#000;
	text-indent:10px
}
.col-1 {
	BORDER-BOTTOM: #f4f6f5 1px solid; BORDER-LEFT: #f4f6f5 1px solid; ZOOM: 1; BACKGROUND: #fff; BORDER-TOP: #f4f6f5 1px solid; BORDER-RIGHT: #f4f6f5 1px solid;background-color:#F3F3F1
}
.col-1 DIV.content {
	BORDER-BOTTOM: #c2d1d8 1px solid; BORDER-LEFT: #c2d1d8 1px solid; ZOOM: 1; BORDER-TOP: #c2d1d8 1px solid; BORDER-RIGHT: #c2d1d8 1px solid
}
.cat-menu {
	MARGIN: 10px 8px 0px 0px; WIDTH: 186px
}
.fav-nav {
	width:100%;
	height:30px;
	margin:0 auto;
	background:url(../images/bottombg.jpg) repeat-x;
	line-height:30px;
	color:#333;
}
.fav-nav {
	POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; WIDTH: 100%; BOTTOM: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; LEFT: 0px
}
.fav-nav DIV {
	FLOAT: left
}
.fav-nav span {
	FLOAT: right
}


.right {
width:auto
}
.right .rightmain {
	width:auto;
	height:auto;
	margin:0 auto;
	margin-top:25px;
}
.rightmain .mtable1 {
	width:760px;
	height:auto;
	margin:0 auto;
	border-collapse:collapse;
}
.mtable1 td {
	border:1px solid #B3B3B3;
	height:36px;
}
.mtable1 .wid1 {
	width:118px;
	background:#e1e1e1;
	text-align:right;
	color:#00004d;
}
.mtable1 .wid2 {
	width:260px;
}
.mtable1 .txt1 {
	background:#ffffff;
	border:1px solid #b7b7b7;
	color:#454545;
	cursor:text;
	padding:2px;
	margin-left:5px;
	margin-right:5px;
}
.mtable1 .txt2 {
	background:#ffffff;
	border:1px solid #b7b7b7;
	color:#454545;
	cursor:text;
	width:150px;
	background:url(../images/date.jpg) 137px center no-repeat;
	padding:2px;
	margin-left:5px;
	margin-right:5px;
}
.rightmain .cxbut {
	width:66px;
	height:24px;
	margin:0 auto;
	margin-top:25px;
	color:#fff;
	font-size:14px;
	border:0;
}
.rightmain .line {
	background:url(../images/line.jpg) no-repeat center top;
	height:1px;
	width:100%;
	margin:0 auto;
	margin-bottom:20px;
	margin-top:30px;
}
.rightmain .zysx {
	width:760px;
	height:auto;
	margin:0 auto;
	font-size:12px;
	color:#00004d;
	line-height:24px;
}
.submit_input{background:url(../images/button.jpg) no-repeat;border:0;width:66px;line-height:22px; color:#fff; padding-bottom:5px;font-size:14px; font-weight:bold; cursor:pointer}