/* CSS Document */
.hui_xi{ color:#666666; font-family:tahoma, "宋体" ; font-size:12px;}
.hei_cu{ color:#000000; font-weight:bold; font-size:12px; font-family:tahoma, "宋体" ; }
.hei_xi{ color:#000000; font-size:12px; font-family:tahoma, "宋体" ;}
.lan{ color:#0000FF; font-size:12px; font-family:tahoma, "宋体" ;}
.huang_cu{ color:#FF6600; font-size:12px; font-family:tahoma, "宋体" ;}
.hong_xi{ color:#FF0000; font-size:12px; font-family:tahoma, "宋体" ;}
.bai_cu{ color:#FFFFFF; font-size:12px; font-weight:bold;font-family:tahoma, "宋体" ;}
.lv_cu{ color:#009900 ; font-size:12px; font-weight:bold; font-family:tahoma, "宋体"}
.lan_xia{color:#0000FF; text-decoration: underline;;}