.imageSlider1 { margin:0;padding:0; height:20px; width:600px; background-image:url("../../images/webimages/scrollbg.gif"); }
.imageBar1    { margin:0;padding:0; height:17px; width:10px; background-image:url("../../images/webimages/scrfloat.gif"); }

.imageSlider2 { margin:0;padding:0; height:20px; width:600px; background-image:url("../../images/webimages/horizBg.png"); }
.imageBar2    { margin:0;padding:0; height:20px; width:18px; background-image:url("../../images/webimages/horizSlider.png"); }

.winSlider    { margin:0;padding:0; height:15px; width:600px; background-color:#eee; border:2px solid #EAE6DD; }
.winBar       { margin:0;padding:0; height:15px; width:10px; border:2px outset buttonhighlight; background-color:#D4D0C8; }