body{padding:0px;margin:0;line-height:24px;color:#333;font-size:12px;font-family:"宋体", Arial; background:#fff;}
form,ul,ol,h1,h2,h3,h4,h5,h6,p,dd,dl,p,span,b,ul,li,input,img{margin:0;padding:0;list-style:none;}
input,textarea,select,button{font-size:12px;vertical-align: middle;}
img{border:none; vertical-align:top;}
.clear{clear:both; }
a{color:#333;text-decoration:none;}
a:hover{text-decoration:none;color:#F00;}

.top_A,.top_L,.top_R_t,.top_R_ba a,.tons12 b,.tone1,.misty b,.msns dt b,.ronsde li b,.srin em,.zj02 a{background:url(../Images/v19/menu_icons.png) no-repeat}
.bgImage{ background:url(/Images/Image/indexbuV1.jpg) no-repeat}
