*{
    margin: 0px;
    padding: 0px;
}
a{color:#2577e3;}
img{border:0px;}
a:link {text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: underline;}
ul, p, dl, dt, dd, li, img, div, p, table {padding:0px; margin:0px;}
li{list-style-position:outside; list-style-type:none;}
h1, h2, h3, h4, h5{ padding:0px; margin:0px; font-weight:normal;}
h2 { font-size:18px;}
h5 { font-size:14px; line-height:21px;}
.clearit { clear:both; width:0px; height:0px; overflow:hidden; zoom:1;}
.space { height:10px; overflow:hidden;}
img { vertical-align:top;}
body{
    font-family: "微软雅黑";
}
.top{
    border: 1px solid #d8e3e6;
    width: 65%;
    margin: 20px auto;
   padding: 7px;
    overflow: auto;
    background-color: #f2f6f8;
}
.jiansuo{
    font-size: 17px;
    margin-left: 20px;
}
.game{
    width: 65%;
    overflow: auto;
    margin: 0px auto;
    margin-top: 10px;
}
.alei {
    background:url(../img/list_icon2.gif);
    display: block;
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    width: 33px;
    height: 30px;
    float: left;
    margin-right: 10px;
}
.a{
    width: 100%;
    height: auto;
    overflow: auto;
    margin-bottom: 5px;
}
.agame{
    float: left;
    display: block;
    width: 188px;
    text-align: left;
    height: 25px;
    margin-top: 8px;
    margin-left: 20px;

}
.A1{
    border: 1px solid #d8e3e6;
    height: auto;
    overflow: auto;
    padding-left: 10px;
    padding-bottom: 7px;
}
.ac{
    color: black;
    font-size: 15px;
}
