.airco_3U {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px 0px
}
.airco_8C {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -48px
}
.airco_8L {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -96px
}
.airco_BK {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -144px
}
.airco_CA {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -192px
}
.airco_CN {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -240px
}
.airco_CZ {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -288px
}
.airco_EU {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -336px
}
.airco_FM {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -384px
}
.airco_G5 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -432px
}
.airco_GS {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -480px
}
.airco_HO {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -528px
}
.airco_HU {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -576px
}
.airco_KN {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -624px
}
.airco_MF {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -672px
}
.airco_MU {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -720px
}
.airco_NS {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -768px
}
.airco_PN {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -816px
}
.airco_SC {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -864px
}
.airco_ZH {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -912px
}
.airco_VD {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -960px
}
.airco_JR {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -3008px
}
.airco_9W {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -992px
}
.airco_AA {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1024px
}
.airco_AB {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1056px
}
.airco_AC {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1088px
}
.airco_AF {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1120px
}
.airco_AI {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1152px
}
.airco_AY {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1184px
}
.airco_AZ {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1216px
}
.airco_BA {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1248px
}
.airco_BD {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1280px
}
.airco_BI {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1312px
}
.airco_BR {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1344px
}
.airco_CI {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1376px
}
.airco_CO {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1408px
}
.airco_CX {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1440px
}
.airco_DL {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1472px
}
.airco_EK {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1504px
}
.airco_ET {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1536px
}
.airco_FT {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1568px
}
.airco_GA {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1600px
}
.airco_JK {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1632px
}
.airco_JL {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1664px
}
.airco_JP {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1696px
}
.airco_KA {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1728px
}
.airco_KE {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1760px
}
.airco_KL {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1792px
}
.airco_KQ {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1824px
}
.airco_LA {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1856px
}
.airco_LH {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1888px
}
.airco_LO {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1920px
}
.airco_LX {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1952px
}
.airco_LY {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -1984px
}
.airco_MA {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2016px
}
.airco_MH {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2048px
}
.airco_NH {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2080px
}
.airco_NW {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2112px
}
.airco_NX {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2144px
}
.airco_NZ {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2176px
}
.airco_OK {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2208px
}
.airco_OS {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2240px
}
.airco_OZ {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2272px
}
.airco_PG {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2304px
}
.airco_PR {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2336px
}
.airco_QF {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2368px
}
.airco_QR {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2400px
}
.airco_SK {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2432px
}
.airco_SN {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2464px
}
.airco_SQ {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2496px
}
.airco_SU {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2528px
}
.airco_TG {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2560px
}
.airco_TK {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2592px
}
.airco_UA {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2624px
}
.airco_UL {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2656px
}
.airco_UN {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2688px
}
.airco_VN {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2720px
}
.airco_VS {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2752px
}
.airco_VV {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2784px
}
.airco_HX {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2832px
}
.airco_UO {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2880px
}
.airco_JD {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2913px
}
.airco_EY {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2944px
}
.airco_US { 
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; BACKGROUND: url(../images/airco.gif) no-repeat 0px -2976px
}
