@charset "utf-8";
/* CSS Document */
html,body{ height:100%;}

#left{  height:100%;}
#left .frame{ background:url(../images/bj_list.gif); width:194px; margin-left:5px; line-height:26px;  height:100%;}
*:lang(th) #left .frame{
    height:99%!important
}
#left .frame:empty {
    height:99%!important
} 
#left .telo{ background:url(../images/bj_leftd.gif);  height:30px;  padding-left:20px; font-weight:bold; font-size:14px;}
#left .menu{ background:url(../images/bj_add.gif); height:26px; padding-left:30px; color:#3399ff; line-height:26px; cursor:pointer}
#left .list{ background:url(../images/bj_list.gif); padding:8px 0 8px 0;}
#left .list ul{}
#left .list ul li{ background:url(../images/bj_listd.gif); height:26px; line-height:26px; padding-left:40px; }
#left .tela_less{ background:url(../images/bj_less.gif); height:26px; padding-left:30px; color:#3399ff; line-height:26px; cursor:pointer;}
#left .lia{ color:#f48000;}
#left .lib{ color:#9e9e9e;}

#middle{ height:100%;}
#middle .middle{height:45%; width:6px;}
#middle .middle_x{width:6px; vertical-align:middle; background:#198bc9}


#right{ height:99%; min-width:794px; margin-right:5px; _margin-right:15px; *margin-right:21px;} 
#right .kuang{ height:95%; background:#f6fafd; overflow-y:auto; overflow-x:hidden; text-align:center;}

#right .lit{ height:28px; background:#198bc9;}
#right .lit ul{}
#right .lit ul li{ float:left;}
#right .lit ul li a{ color:#003399}
#right .on{ width:88px; height:28px; line-height:28px; text-align:center; background:url(../images/nav_lit.gif);}
#right .off{ width:88px; height:28px; line-height:28px; text-align:center; background:url(../images/nav_litoff.gif);}
#right .offd{ width:88px; height:28px; line-height:28px; text-align:center; background:url(../images/nav_litoffd.gif);}
#right .offwu{ width:88px; height:28px; line-height:28px; text-align:center; background:url(../images/nav_litwu.gif);}