HTML {
	SCROLLBAR-ARROW-COLOR: #006699; SCROLLBAR-FACE-COLOR: #dee3e7; SCROLLBAR-DARKSHADOW-COLOR: #98aab1; FONT-FAMILY: ו; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #dee3e7; FONT-SIZE: 12px; SCROLLBAR-TRACK-COLOR: #efefef; SCROLLBAR-3DLIGHT-COLOR: #d1d7dc
}
BODY {
	FONT-FAMILY: ו; BACKGROUND: url(/Images/background.gif); FONT-SIZE: 12px
}
.leftTitle {
	FONT-FAMILY: ו; COLOR: #239600; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.left:link {
	COLOR: #4d4d4d; TEXT-DECORATION: none
}
.left:visited {
	COLOR: #2f4989; TEXT-DECORATION: none
}
.left:active {
	COLOR: #4d4d4d; TEXT-DECORATION: none
}
A.wlink:visited {
	COLOR: white; TEXT-DECORATION: none
}
A.wlink:hover {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; TEXT-DECORATION: underline
}
A.wlink:hover {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; TEXT-DECORATION: underline
}
A.wlink:link {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; TEXT-DECORATION: none
}
A:link {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: blue; TEXT-DECORATION: none
}
A:visited {
	COLOR: #aa00aa; TEXT-DECORATION: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
SELECT {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
.ttb0 {
	BORDER-BOTTOM: darkgray 1px solid; BORDER-LEFT: darkgray 1px solid; BACKGROUND-COLOR: #d4d0c8; FONT-SIZE: 12px; BORDER-TOP: darkgray 1px solid; BORDER-RIGHT: darkgray 1px solid
}
.ttb1 {
	BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND: #699cd3; FONT-SIZE: 12px
}
.ttb2 {
	BORDER-BOTTOM: #808080 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #808080 1px solid
}
.ttb3 {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #808080 1px solid; BORDER-TOP: #808080 1px solid; BORDER-RIGHT: #ffffff 1px solid
}
.ttb4 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.ttb5 {
	BORDER-BOTTOM: #f1f1f1 1px solid; BORDER-LEFT: #f1f1f1 1px solid; BACKGROUND: #cccccc; BORDER-TOP: #f1f1f1 1px solid; BORDER-RIGHT: #f1f1f1 1px solid
}
.ttb6 {
	BORDER-BOTTOM: #e4e4e4 1px dotted; BORDER-LEFT: #e4e4e4 1px dotted; BACKGROUND: #f1f1f1; BORDER-TOP: #e4e4e4 1px dotted; BORDER-RIGHT: #e4e4e4 1px dotted
}
.ttb7 {
	BORDER-BOTTOM: #808080 1px dotted; BORDER-LEFT: #808080 1px dotted; BACKGROUND: #d4d5d8; BORDER-TOP: #808080 1px dotted; BORDER-RIGHT: #808080 1px dotted
}
.ttb8 {
	BORDER-BOTTOM: #8396c3 1px solid; BORDER-LEFT: #8396c3 1px solid; BACKGROUND: #f2f5fb; BORDER-TOP: #8396c3 1px solid; BORDER-RIGHT: #8396c3 1px solid
}
.ttb9 {
	BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; BACKGROUND: #f9fbfc; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid
}
.ttb10 {
	BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; BACKGROUND: #0a246a; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid
}
.ttb11 {
	BORDER-BOTTOM: #72777d 1px solid; BORDER-LEFT: #72777d 1px solid; BACKGROUND: #d2dbe7; BORDER-TOP: #72777d 1px solid; BORDER-RIGHT: #72777d 1px solid
}
.ttb12 {
	BORDER-LEFT: #72777d 1px solid; BORDER-TOP: #72777d 1px solid
}
.ttb13 {
	BORDER-BOTTOM: #72777d 1px solid; BORDER-RIGHT: #72777d 1px solid
}
.ttb14 {
	BORDER-BOTTOM: #b55f46 1px solid; BORDER-LEFT: #b55f46 1px solid; BORDER-TOP: #b7340d 6px solid; BORDER-RIGHT: #b55f46 1px solid
}
.ttb15 {
	BORDER-BOTTOM: #b55f46 1px solid; BACKGROUND: #f6ebe7; COLOR: #8b0400; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.ttb16 {
	BACKGROUND-COLOR: #fdfaf8; BORDER-TOP: #c05a3c 3px solid
}
.ttb17 {
	BORDER-LEFT: #b55f46 1px solid; BORDER-TOP: #b7340d 6px solid
}
.ttb18 {
	BORDER-BOTTOM: #b55f46 1px solid; BORDER-RIGHT: #b55f46 1px solid
}
.ttb19 {
	BORDER-BOTTOM: #b55f46 1px solid; BACKGROUND-COLOR: #fdf8f4; COLOR: #5c5b5b; FONT-SIZE: 12px; FONT-WEIGHT: bold; BORDER-RIGHT: #b55f46 1px solid
}
.ttb20 {
	BORDER-BOTTOM: #b55f46 1px solid
}
.ttb21 {
	BORDER-BOTTOM: #b55f46 1px solid; BACKGROUND: #f6ebe7; COLOR: #a50e03; FONT-SIZE: 15px; FONT-WEIGHT: bold; BORDER-RIGHT: #b55f46 1px solid
}
.ttb22 {
	BORDER-BOTTOM: #af8579 1px solid; BORDER-LEFT: #af8579 1px solid; BACKGROUND: #fdf8f4; FONT-SIZE: 12px; BORDER-TOP: #af8579 1px solid; BORDER-RIGHT: #af8579 1px solid
}
.ttb23 {
	BORDER-BOTTOM: #b55f46 1px solid; BORDER-LEFT: #b55f46 1px solid; BORDER-TOP: #b7340d 1px solid; BORDER-RIGHT: #b55f46 1px solid
}
.ttb24 {
	BORDER-BOTTOM: #b55f46 1px solid; BACKGROUND: #f25c26; COLOR: #8b0400; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.ttb25 {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BACKGROUND-COLOR: #ffffe1; FONT-SIZE: 12px; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.btn0 {
	BACKGROUND-IMAGE: url(/images/button/button-0.gif); BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 46px; HEIGHT: 44px; COLOR: #ffffff; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.btn2 {
	BACKGROUND-IMAGE: url(/images/button/button-2.gif); BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 60px; HEIGHT: 23px; COLOR: #ffffff; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.btn4 {
	BACKGROUND-IMAGE: url(/images/button/button-4.gif); BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 80px; HEIGHT: 23px; COLOR: #ffffff; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.btn6 {
	BACKGROUND-IMAGE: url(/images/button/button-6.gif); BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 100px; HEIGHT: 23px; COLOR: #ffffff; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.btn7 {
	BACKGROUND-IMAGE: url(/images/button/button-12.gif); BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 130px; HEIGHT: 23px; COLOR: #ffffff; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.input0 {
	BORDER-BOTTOM: darkgray 1px solid; BORDER-LEFT: darkgray 1px solid; FONT-SIZE: 12px; BORDER-TOP: darkgray 1px solid; BORDER-RIGHT: darkgray 1px solid
}
.input1 {
	HEIGHT: 22px; FONT-SIZE: 12px
}
.input2 {
	BORDER-BOTTOM: #923434 1px solid; BORDER-LEFT: #923434 1px solid; FONT-SIZE: 12px; BORDER-TOP: #923434 1px solid; BORDER-RIGHT: #923434 1px solid
}
.input3 {
	BORDER-BOTTOM: #923434 1px solid; BORDER-LEFT: #923434 1px solid; BACKGROUND: #f6ebe7; FONT-SIZE: 12px; BORDER-TOP: #923434 1px solid; BORDER-RIGHT: #923434 1px solid
}
.input4 {
	BORDER-BOTTOM: #fcf4f1 1px solid; BORDER-LEFT: #fcf4f1 1px solid; BORDER-TOP: #fcf4f1 1px solid; BORDER-RIGHT: #fcf4f1 1px solid
}
.input5 {
	BORDER-BOTTOM: #ca1b1b 1px solid; BORDER-LEFT: #ca1b1b 1px solid; BACKGROUND: #ffeee4; BORDER-TOP: #ca1b1b 1px solid; BORDER-RIGHT: #ca1b1b 1px solid
}
.bg0 {
	BACKGROUND-COLOR: #af3510; COLOR: #ffffff; FONT-SIZE: 9pt
}
.bg1 {
	BACKGROUND-COLOR: #fdfaf8
}
.leftTitle {
	CURSOR: pointer
}
.soft1 {
	BACKGROUND-IMAGE: url(../img/softtd.gif); BORDER-LEFT: #fccf8c 1px solid; HEIGHT: 40px
}
.soft2 {
	BACKGROUND-IMAGE: url(../img/softtd.gif); BORDER-LEFT: #fccf8c 1px solid; HEIGHT: 40px; BORDER-RIGHT: #fccf8c 1px solid
}
.soft3 {
	BACKGROUND-IMAGE: url(../img/softtd.gif); HEIGHT: 40px; BORDER-RIGHT: #fccf8c 1px solid
}
.soft4 {
	BACKGROUND-IMAGE: url(../img/softtd.gif); HEIGHT: 40px
}
