@charset "utf-8";
/* CSS Document */

#header { min-width:1002px;}
#header .top{ background:url(../imagess/bj_top.gif); height:62px;}
#header .time{ margin-right:20px; height:30px; text-align:right; line-height:27px;}
#header .nav{ height:32px; line-height:32px; float:right}
#header .nav ul{}
#header .nav ul li{ float:left; text-align:center; }
#header .off{ background:url(../imagess/bj_navli.gif) no-repeat; width:92px; height:32px; line-height:32px; color:#ff9c00}
#header .on{ background:url(../imagess/bj_navli.gif) no-repeat; width:92px; height:32px; line-height:32px; color:#fff;}
#header .out{ width:33px; overflow: hidden; display:inline;}
#header .noti{background:#198bc9; padding:0 5px 0 5px;}
#header .notice{ background:url(../imagess/bj_notice.gif);height:30px; line-height:30px;}
#header .notice ul{}
#header .notice ul li{ float:left;}

/* Scroll */
.screen { width:700px; margin-right:10px; display:inline; padding:0; float:right;background:url(../imagess/bj_nav.gif); height:32px; overflow:hidden}
.screen ul { margin:0 auto; padding:0;}
.screen li { float:left; list-style:none; border:0;}
.screen .jq-ss-crop { margin:0; border:0; float:left; }
.dddwai{width:558px; border:0;height:32px;  overflow:hidden;}
#left, #right { display:block; text-decoration:none; width:17px;}
#view { margin:0; padding:0; width:465px; border:0;  overflow:hidden; }
#images{}
#images li{ width:88px; text-align:left;  height:32px;background:url(../imagess/bj_navli.gif); float:left; line-height:32px; padding-left:5px;  overflow:hidden;}
#images li a{ color:#fff;}

.bottom{ background:url(../imagess/bj_bottom.gif);  height:24px; line-height:24px; padding-left:20px; color:#d3e3fe; font-size:12px;}

.scrollText {
	width: 360px;
	height: 28px;
	min-height: 28px;
	line-height: 28px;
	overflow: hidden
}

.scrollText li {
	height: 28px;
	padding-left: 10px;
}

.up {
	margin-left: 0px;
	width: 50px;
	height: 50px;
	background: #F90
}

.down {
	margin: 0 0 0 0px;
	zoom: 1;
	width: 50px;
	height: 50px;
	background: #960
}