.i_f_i_city{width:165px;color:#777;background:url(../../common/pic/el_com.png?t=201406110959) no-repeat 149px -58px #fff;border:#7f9db9 solid 1px;cursor:pointer;height:18px;padding-right:2px}
.i_f_i_date{width:165px;color:#777;background:url(../../common/pic/el_com.png?t=201406110959) no-repeat 149px -77px #FFF;border:#7f9db9 solid 1px;cursor:pointer;height:18px;padding-right:2px}
.dun,.fltable th.cols07 a,.fltable td.cols07 a{color:#001d75;text-decoration:none;border-bottom:#001d75 1px dashed}
.fltable td.cols04 a{text-decoration:none}
.fltable td.cols04 .tax{margin-right:5px;display:inline-block;width:67px;text-align:right}
#tx_promptbox,#carinfobox,#ftimebox,#thinfobox{border:1px solid #d1d1d1;padding:1px;margin-bottom:10px;overflow:hidden;zoom:1}
#tx_promptbox h2,#carinfobox h2,#ftimebox h2,#thinfobox h2{font-size:12px;font-weight:bold;padding:3px 0 1px 10px}
#tx_promptbox dl,#ftimebox dl,#thinfobox dl{margin:0 8px;clear:both;overflow:hidden;zoom:1}
#carinfobox ul{margin:10px}
#tx_promptbox dd a,#carinfobox li a,#questionbox li a,#ftimebox dd a,#ftimebox p a,#ftimebox h2 a,#thinfobox dd a{text-decoration:none;color:#1568bd}
#tx_promptbox dd a:hover,#carinfobox li a:hover,#questionbox li a:hover,#ftimebox dd a:hover,#ftimebox p a:hover,#ftimebox h2 a:hover,#thinfobox dd a:hover{text-decoration:none;color:#e47b00}
#subr_promptbox dd a{color:#000;text-decoration:none}
#subr_promptbox{border:#dadada solid 1px;padding:10px;overflow:hidden;zoom:1;clear:both;margin-bottom:10px}
#subr_prompt{border:#fbd374 solid 1px;padding:10px;overflow:hidden;zoom:1;clear:both;margin-bottom:10px;background:#fffae4}
#subr_promptbox h3{font-weight:bold}
#subr_promptbox dl,#tx_promptbox dl,#ftimebox dl,#subr_prompt dl,#thinfobox dl{clear:both}
#tx_promptbox dt,#thinfobox dt{width:7%;float:left;margin:5px 0 0 0;font-family:宋体;line-height:18px;color:#001d75}
#subr_promptbox dt,#ftimebox dt,#subr_prompt dt{width:7%;float:left;margin:5px 0 0 0;font-family:宋体;line-height:18px;color:#666}
#subr_promptbox dd,#tx_promptbox dd,#ftimebox dd,#subr_prompt dd,#thinfobox dd{width:92%;float:right;margin-right:0;display:inline;margin:5px 0 0 0;text-align:left}
#subr_promptbox strong{font-weight:bold;color:#666}
#thinfobox div.more{text-align:right;margin:0 10px 0 0}
*html #thinfobox div.more{text-align:right;margin:5px 10px 0 0}
*+html #thinfobox div.more{text-align:right;margin:0 10px 0 0}
#thinfobox div.more a{text-decoration:none}
.pseudo_link{color:#36c;cursor:pointer;text-decoration:none}
.pseudo_link:hover{color:#f60}
.bor{border-bottom:1px dotted #36c}
.bor:hover{border-color:#f60}
#content{width:1200px;margin:0 auto;text-align:left}
#mainnavbox{clear:both;overflow:hidden;zoom:1;margin-bottom:10px}
#mainnavbox h1{font:24px/30px Microsoft Yahei,SimHei,sans-serif}
#mainnavbox .mleft{float:left}
#mainnavbox .mright{float:left;margin-left:15px;padding-top:10px;font-size:14px;color:#131313}
#mainnavbox .mright strong{font-weight:700;margin:0 1px}
#content .searchbar{padding:10px;margin-bottom:10px;background:#fffce8;border:1px solid #e3e3e3}
#content .intxt{width:103px;height:18px;padding:5px;line-height:18px;color:#666;_color:#333;font-size:14px;border:1px solid #d8d8d8;box-shadow:inset 1px 1px 2px #e9e9e9;*vertical-align:middle}
#content input[type="text"]:focus,#content input.on{color:#333;border:1px solid #0ea0ef;box-shadow:0 0 5px #09f;outline:0}
#content .depart{background:#fff url(../images/pic1/list_img.png?t=201406110959) no-repeat right -33px}
#content .return{background:#fff url(../images/pic1/list_img.png?t=201406110959) no-repeat right -73px}
#content .searchbar span{vertical-align:middle}
#content .searchbar .change_city{display:inline-block;width:20px;height:16px;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat -480px -117px;vertical-align:middle;cursor:pointer}
#content .searchbar .change_city:hover{background-position:-480px -133px}
#content .searchbar .searchbtn,#content .searchbar .searchbtn_on{width:90px;height:30px;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat 0 0;border:0;cursor:pointer;vertical-align:middle}
#content .searchbar .searchbtn:hover,#content .searchbar .searchbtn_on{background-position:0 -40px}
.droplist{display:inline-block;width:204px;padding:0 30px 0 5px;border:1px solid #dcdcdc;height:28px;line-height:28px;font-size:14px;color:#999;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat right top;position:relative;z-index:10;vertical-align:middle;cursor:pointer;*display:inline;*zoom:1}
.droplist .box{width:238px;border:1px solid #ccc;position:absolute;left:-1px;top:28px;z-index:12;display:none}
.droplist .box li{padding:5px;height:20px;line-height:20px;background:#fff;color:#666;cursor:pointer;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.droplist .box li:hover{background:#36c;color:#fff}
.droplist_on{border:1px solid #0ea0ef;box-shadow:0 0 5px #09f;outline:0;z-index:15}
.droplist_on .box{display:block}
.flight_type{width:68px;color:#666}
.flight_type .box{width:103px}
#f_main{width:900px;float:left;display:inline}
#f_side{width:225px;float:right;display:inline}
#f_main .main{width:900px;float:left;margin-top:10px}
#f_main .yellow{color:#f80}
#f_main a{color:#1568bd;text-decoration:none}
#f_main a:hover{color:#f60}
#f_main .button,#f_main .button_on,#f_main .button_disnable{width:70px;height:30px;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat 0 -80px;border:0;font:16px Microsoft Yahei,SimHei,sans-serif;text-align:center;color:#FFF;line-height:30px;cursor:pointer;vertical-align:middle}
#f_main .button_on{background-position:0 -120px}
#f_main .button_disnable{background-position:0 -160px}
#f_main .button_out{background-position:-269px -354px;cursor:not-allowed}
#flightlistnav{clear:both;overflow:hidden;background:#EFF5FC;border-left:1px solid #EFF5FC;border-right:1px solid #EFF5FC;zoom:1;border-top:3px solid #2064C8}
#flightlistnav li{float:left}
#flightlistnav .sort_time{margin-left:3px}
#flightlistnav li.navcols{border-right:1px solid #DADFE6}
#flightlistnav li.navcols a{color:#131313}
.f_l_na,.f_l_nb{height:48px;overflow:hidden;padding-top:8px;text-align:center;cursor:pointer;border:1px solid #DADFE6;border-top:0;border-left:none;border-right:0}
.f_l_na{width:106px}
#flightlistnav li.navcols .pseudo_link:hover{color:#f60}
#flightlistnav li.navcols .pseudo_link{color:#36c;cursor:pointer;text-decoration:none}
.f_l_na{background:#fff}
.f_l_na:hover{background:#EFF5FC}
.f_l_nb{width:106px;color:#333;border-bottom:0;cursor:default}
.f_l_nc{height:48px;padding-top:8px;text-align:center;border:1px solid #DADFE6;border-top:0;border-left:none;border-right:0;width:101px;text-align:left;padding-left:15px;background:#fff}
#flightlistnav li.navcols_on .f_l_nc{position:relative}
#flightlistnav li.navcols_on .f_l_nc .navcols_title{position:absolute;border-radius:0 0 3px 3px;box-shadow:-1px 2px 4px #aaa;top:0;left:0;background:#10447D;text-align:center;font-size:14px;color:#fff;height:64px;width:102px}
#flightlistnav li.navcols_on .f_l_nc .navcols_title .title{margin-top:10px}
#flightlistnav li.navcols_on .f_l_nc .navcols_title .goto{color:#E3EA1E}
#flightlistnav li.navcols_on .f_l_nc .navcols_title .n_price strong{margin-left:2px;font:20px Microsoft Yahei,SimHei,sans-serif}
#flightlistnav li.navcols_on .f_l_nc .low_price{line-height:25px}
#flightlistnav li.navcols_on .f_l_nc .low_price em{margin-left:5px;margin-right:2px}
#flightlistnav li.navcols_on .f_l_nc .arrow_down{background-position:-480px -185px}
#flightlistnav .navcols_ul{height:70px}
#flightlistnav li.navcols_on .f_l_nc .low_price b{font-size:16px}
.f_l_na span{color:#131313;line-height:20px}
.f_l_nb span{color:#f80;line-height:20px}
.f_l_nb strong,.f_l_na strong{font-size:16px;margin-left:2px;font-weight:bold}
.f_l_na strong{color:#555}
.f_l_nb strong{font-weight:bold}
.f_l_na span a{color:#131313;text-decoration:none}
.f_l_nb span a{color:#131313;text-decoration:none}
.f_l_nc a{text-decoration:none}
.f_l_na_l{width:86px;font-size:14px;color:#F00;font-weight:bold}
.f_l_na_gt{cursor:default}
.f_l_na_gt:hover{background:#fff}
.f_l_na_l em{background:url(../images/pic1/list_img.png?t=201406110959) no-repeat -126px -206px;width:16px;height:22px;margin-top:10px;display:inline-block;cursor:pointer;margin-left:20px}
.f_l_na_l em.disable{background-position:-158px -206px}
.f_l_na_r{width:46px}
.f_l_na_r em{background:url(../images/pic1/list_img.png?t=201406110959) no-repeat -140px -206px;width:16px;height:22px;margin-top:10px;display:inline-block;cursor:pointer}
.f_l_na_r em.disable{background-position:-174px -206px}
#flightlistnav .low_price{font-size:14px}
#flightlistnav .arrow_down{background:url(../images/pic1/list_img.png?t=201406110959) no-repeat -480px -175px;width:19px;height:4px;text-align:center;padding-top:5px;display:inline-block;cursor:pointer;overflow:hidden}
#fsortbox{clear:both;overflow:hidden;background:#EFF5FC;zoom:1;padding:2px 0 10px 10px;position:relative}
#fsortbox dt,#fsortbox dd{float:left;white-space:nowrap;height:24px;line-height:21px;line-height:24px\9;padding:0 5px}
#fsortbox .cols01{width:30px}
#fsortbox .cols02{float:right}
#fsortbox dd.all{padding-left:4px;color:#1568bd;text-decoration:none;margin-right:10px;cursor:pointer}
#fsortbox dd.on{padding-left:4px;height:18px;color:#fff;background:#4798D0;line-height:18px;overflow:hidden;text-decoration:none;margin-right:10px;cursor:pointer}
#fsortbox input{vertical-align:-2px;_vertical-align:0;cursor:pointer;margin-right:3px;*margin-right:0}
#fsortbox label{padding-right:10px;cursor:pointer}
#fsortbox dl{float:left}
#fsortbox .d1{width:485px}
.f-goto-div{padding:10px 15px 10px 15px;background:#F7F7F7;position:relative;}
.f-goto-table{font-size:12px;}
.f-goto-table .td1 .icon_airline{display:inline-block;vertical-align:-4px;_vertical-align:0;margin-right:4px}
.f-goto-table .td4{width:130px;text-align:center}
.f-goto-table .td4 .goto{margin-bottom:-10px;background:url(../images/pic1/list_img.png) no-repeat -147px -260px;width:126px;height:18px}
.f-goto-table .td4 p{margin-bottom:-4px;height:18px;color:#999}
.f-goto-table .td4 .day{margin-top:-5px;height:18px;margin-bottom:-7px;_margin-top:-3px}
.f-goto-table .td4 .day .pseudo_link{*display:inline-block;*margin-top:2px;_margin-top:4px}
.f-goto-table td .time{font-size:22px}
.f-goto-table .td3{text-align:right;width:160px}
.f-goto-table .td3 .time{text-align:right}
.f-goto-table .td5{width:160px}
.flight_title li{height:28px;width:70px;position:relative;line-height:28px;margin-left:20px;cursor:pointer;float:left;background:#fff;color:#36C;text-align:center;padding-right:10px}
.flight_title li i{display:block;width:10px;height:12px;position:absolute;top:9px;right:8px;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat -110px -210px}
.flight_title_line{border-top:1px solid #DFDFDF;top:-1px;position:relative;z-index:1}
.flight_title li.cur{color:#fff;z-index:2;background:#4798D0}
.flight_title li.cur i{background-position:-90px -210px}
.flight_title li.sort_price i{right:10px}
.flight_title li{border-radius:3px 3px 0 0;box-shadow:0 -1px 2px #ddd}
.flight_title li:hover{z-index:2;background:#4798D0;color:#fff}
.flight_title li:hover i{background-position:-90px -210px}
.main .tips{margin-top:10px;border-bottom:3px solid #0091e2;color:#FFF}
.main .tips span{display:inline-block;padding:3px 10px;background:#0091e2;font-size:14px;overflow:hidden}
.flightlist{border:1px solid #6F9ED8;margin-bottom:15px;border-top-width:2px}
.flightlist_tj{border-color:#F33}
.flightlist_out{border-color:#DFDFDF}
.fltable-div{padding:0 10px}
.flightlist .tj_icon{width:70px;height:70px;position:absolute;right:-2px;top:-3px;overflow:hidden;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat -291px -238px}
.flightlist .out_icon{width:70px;height:70px;position:absolute;right:-2px;top:-3px;overflow:hidden;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat -105px -81px}
.flightlist .fltable{color:#666}
.flightlist .fltable tr td{height:60px;border-bottom:1px dotted #C7C7C7}
.flightlist .cols01{width:100px;padding-left:36px}
.flightlist .a380,.fltable .a380{display:inline-block;margin-left:3px;vertical-align:-2px;width:50px;height:15px;background:url(../images/pic1/a380.gif?t=201406110959) no-repeat}
.flightlist .boeing777,.fltable .boeing777{display:inline-block;margin-left:3px;vertical-align:-2px;width:91px;height:15px;background:url(../images/pic1/777-300.gif?t=201406110959) no-repeat}
.flightlist .a33v,.fltable .a33v{display:inline-block;margin-left:3px;vertical-align:-2px;width:91px;height:15px;background:url(../images/pic1/33v.gif?t=201406110959) no-repeat}
.flightlist .cols01 .icon_box{display:inline-block;padding-right:3px;margin-left:-24px;vertical-align:-2px;_vertical-align:0}
.flightlist .cols01 .company{color:#131313;font-weight:nomarl}
.flightlist .cols02{width:150px}
.flightlist .cols02 .ftime{font-size:16px;color:#131313;font-family:Arial;font-weight:bold}
.flightlist .cols02 .ftime,.flightlist .cols02 .btime{display:inline-block;width:45px;vertical-align:middle}
.flightlist .cols03{width:75px}
.flightlist .cols04{width:145px}
.flightlist .cols04 .price{color:#f80;display:inline-block;width:60px;font-size:12px;font-weight:normal;vertical-align:middle;*vertical-align:auto}
.flightlist_out .cols04 .price{color:#555}
.flightlist .lh{padding:10px 0 10px 600px}
.flightlist .lh b{color:#f80;font-weight:normal}
.flightlist .lh .priceSale{color:#f80}
.flightlist .cols04 strong{font-weight:bold;font-size:24px}
.flightlist .li_jia{padding-left:72px;text-decoration:line-through;line-height:11px;color:#666}
.flightlist .li_jia strong{font-size:14px;font-weight:normal}
.flightlist .lh .wen{display:inline-block;width:14px;height:14px;margin-left:3px;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat -40px -210px;vertical-align:-2px;*vertical-align:middle;overflow:hidden;cursor:help}
.flightlist .cols04 .wen:hover{background-position:-60px -210px}
.flightlist .cols04 .sale{display:inline-block;width:52px;height:17px;line-height:17px;line-height:19px\9;color:#fff;text-align:center;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat -210px -120px;white-space:nowrap;cursor:pointer;overflow:hidden;vertical-align:-3px;*vertical-align:4px}
@media screen and (-webkit-min-device-pixel-ratio:0){.flightlist .cols04 .sale{vertical-align:1px}
}
.flightlist .cols05{width:95px;padding-top:2px}
.flightlist .cols06{width:129px;padding-right:5px}
.flightlist .cols06 .s_loading{background:url(../../flights/pic/loading.gif?t=201406110959) center center no-repeat;width:16px;height:28px;display:inline-block}
.flightlist .huafei{padding-left:35px;margin-top:-8px}
.flightlist .chao_zhi{border-top:1px dotted #ccc;padding:10px 0}
*/.flightlist li:hover .zz_icon,.flightlist li.bg .zz_icon{background-color:#f7f7f7}
.flight_top,.flight_down{display:inline-block;width:12px;height:10px;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat;cursor:pointer;*vertical-align:middle}
.fltable-div:hover{background:#EFF5FC}
.flight_down{background-position:-470px -290px}
.flight_top{background-position:-487px -290px}
.s_loading{background:url(../../flights/pic/loading.gif?t=201406110959) no-repeat;width:16px;height:16px;display:inline-block}
.s2_loading{background:url(../../flights/pic/index_loading.gif?t=201406110959) no-repeat;margin-top:3px;width:16px;height:16px;display:inline-block}
#f_main .s2_loading{position:absolute;left:26px;top:4px;background-position:center center}
#f_main .main2{border:1px solid #b5d2ff;margin-top:10px;padding-bottom:5px}
#f_main .main2 .flightlist .no_li{padding:5px 0 5px 0;border-bottom:1px solid #B5D2FF}
#f_main .main2 .flightlist .no_li:hover{background:#EFF5FC}
#f_main .main2 .flightlist{border:0}
#f_main .main2 .flightlist tr td{border-bottom:0}
#f_main .main2 .flightlist .zz_table .cols01{width:110px}
#f_main .main2 .flightlist .zz_table .cols02{width:180px}
#f_main .main2 .flightlist .zz_table .cols03{width:100px}
#f_main .main2 .fltable td.cols04 .tax{margin-right:5px;display:inline-block}
#f_main .main2 .fltable td.cols04 .icon_bg01{margin-right:0}
#f_main .main2 .flightlist .cols06{width:80px}
#f_main .main2 .flightlist .cols06 .red{display:block;margin-left:5px}
.trans_more .cols06 .red{display:block;margin-left:5px}
.main2 .titlebox{height:28px;background:#e6f1ff}
.main2 .titlebox h2{font-size:14px;font-weight:bold;padding:5px 0 1px 10px}
.main2 .more{text-align:right;margin-top:-10px;padding:0 10px;clear:both;overflow:hidden;zoom:1}
.flightlist .zhong_zhuan{margin:0 5px 0 15px;background:url(../images/pic1/list_img.png?t=201406110959) repeat-x left -405px;height:20px}
.flightlist .zhong_zhuan .zz_icon{display:inline-block;background:url(../images/pic1/list_img.png?t=201406110959) #fff no-repeat -481px -326px;height:20px;color:#f80;margin-left:18px;padding:0 5px;line-height:20px;text-indent:16px}
.flightlist .no_li:hover .zhong_zhuan .zz_icon{background:url(../images/pic1/list_img.png?t=201406110959) #EFF5FC no-repeat -481px -326px}
#fpagebox a{text-decoration:underline}
#fpagebox{text-align:right;clear:both;overflow:hidden;zoom:1}
#fpagebox a{color:#1568bd;text-decoration:none}
#fpagebox .nextbox{margin-left:20px}
#fpagebox a:hover{color:#e47b00}
#fpagebox .ficona,#fpagebox .ficonb{display:inline-block;width:6px;height:9px;border:0;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat;cursor:pointer;*vertical-align:middle;_vertical-align:-2px}
#fpagebox .ficona{margin-right:5px;background-position:-480px -310px}
#fpagebox .ficonb{margin-left:5px;background-position:-490px -310px}
#f_side_wrap .go_back_th{font-size:14px;text-decoration:none;font-weight:bold;color:#1568bd;display:block;border-bottom:1px dotted #999;padding-bottom:10px}
#f_side_wrap .go_back_th:hover{text-decoration:underline}
#f_side_wrap .ficonb{display:inline-block;width:6px;height:9px;border:0;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat;cursor:pointer;*vertical-align:middle;_vertical-align:-2px;margin-left:3px;background-position:-490px -310px}
#f_side_wrap .whyus_div{color:#333;padding-top:10px;margin-top:10px;border-top:1px dotted #C7C7C7}
#f_side_wrap .whyus_div h3{font:22px Microsoft Yahei,Simsun,sans-serif;margin-bottom:15px;color:#555}
#f_side_wrap .whyus{margin:0 0 10px 30px}
#f_side_wrap .whyus dt{font:16px/24px Microsoft Yahei,SimHei,sans-serif;color:#E47400;position:relative}
#f_side_wrap .whyus dt i{display:block;width:35px;height:35px;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat -83px -360px;position:absolute;top:0;left:-40px}
#f_side_wrap .whyus dd{color:#999}
#f_side_wrap .onlineservice{text-align:center;display:block;background:#EFF5FC;color:#36c;font:20px/24px Microsoft Yahei,SimHei,sans-serif;position:relative;line-height:56px;border:1px solid #D0D0D0;border-radius:5px;height:56px;margin:0 0 10px 0}
#f_side_wrap .onlineservice:hover{color:#36c}
#f_side_wrap .onlineservice .icon{display:block;position:absolute;width:56px;height:46px;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat -158px -347px;top:0;left:50%;margin-left:40px}
#f_side_wrap .onlineservice:hover{opacity:.8}
#squares_mess{border:#f5b700 solid 1px;*zoom:1;margin:10px 0}
#squares_mess h2{background:#fff0b5;border:#fff solid 1px;padding:7px 0 7px 12px;font-size:14px;font-weight:bold}
#squares_mess .squares_mess1{padding:10px}
#hotels_cts .right_p .zlu{margin:10px 9px 9px 9px}
#squares_mess .squares_mess2{width:60px;float:left}
#squares_mess .squares_mess2 li{font-family:SimSun;color:#777;line-height:20px}
#squares_mess .squares_mess2 li a{text-decoration:none}
#squares_mess .squares_mess3{width:5px;float:left;border-right:1px dotted #ccc;height:71px;margin:5px 6px 0 5px}
#squares_mess .squares_mess2 a{color:#1568bd}
#squares_mess .squares_mess2 a:hover{color:#e47b00}
#squares_mess .squares_mess4{width:100px;float:left}
#squares_mess .squares_mess4 p{text-align:center;margin-top:3px;line-height:22px}
#squares_mess .squares_mess4 p a{color:#e47b00;text-decoration:underline}
#squares_mess .squares_mess4 p a:hover{color:#1558bd}
#squares_rulef{border:#f2b600 solid 1px;margin:10px 0 0 0;*zoom:1;padding-bottom:10px;margin-bottom:10px}
#squares_rulef h2{background:#fff0b5;border:#fff solid 1px;padding:4px 0 2px 8px;font-size:12px;font-weight:bold;margin-bottom:10px}
#squares_rulef .squares_ra{font-family:"SimSun"}
#squares_rulef .squares_rulef3{padding:0 10px}
#squares_rulef ul{width:100%;margin-top:3px}
#squares_rulef ul li{line-height:22px;display:inline;float:left}
#squares_rulef .squares_rulef1{width:7%;margin-top:0;*margin-top:-2px;margin-top:-2px\9}
#squares_rulef .squares_rulef2{width:93%}
#squares_rulef_reserve{margin:10px 0;*zoom:1;border-bottom:1px dotted #ccc;padding-bottom:10px}
#squares_rulef_reserve h2{border:#fff solid 1px;padding:4px 0 2px 8px;font-size:14px;font-weight:bold}
#squares_rulef_reserve .squares_ra{font-family:"SimSun"}
#squares_rulef_reserve .squares_rulef3{padding:0 10px}
#squares_rulef_reserve ul{width:100%;margin-top:3px}
#squares_rulef_reserve ul li{line-height:22px;display:inline;float:left}
#squares_rulef_reserve .squares_rulef1{width:7%;margin-top:0;*margin-top:-2px;margin-top:-2px\9}
#squares_rulef_reserve .squares_rulef2{width:93%}
.icon_bg01{display:inline-block;height:14px;margin-right:2px;line-height:14px;color:#FFF;background:#36C;border-radius:2px;white-space:nowrap;cursor:pointer;padding-left:2px;padding-right:2px;text-align:center}
.icon_bg02{display:inline-block;float:left;height:15px;background:#FF7E02;line-height:15px;margin-right:5px;padding-right:2px;padding-left:2px;margin-top:1px;margin-bottom:1px}
.icon_bg02 span{color:#FFF;white-space:nowrap;cursor:pointer}
.icon_bg03{border:1px solid #BFBFBF;background:#fff;height:14px;line-height:14px;color:#f80;white-space:nowrap;cursor:pointer}
.icon_bg03{padding-left:2px;padding-right:2px;float:left;display:inline}
.icon_bg05{height:14px;line-height:14px;color:#f80;white-space:nowrap;cursor:pointer}
.icon_bg05 span{background:#fff;border:1px solid #BFBFBF;padding-left:2px;padding-right:2px;float:left;display:inline}
.icon_bg05 em{background:#36C;height:16px;line-height:16px;color:#fff;padding-left:1px;padding-right:1px;float:left}
.icon_bg04,.icon_bg04 span{display:inline-block;height:15px;line-height:15px;color:#f80;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat #fff;white-space:nowrap;cursor:pointer}
.icon_bg04{margin-top:1px;margin-bottom:1px;background-position:-400px -241px;margin-right:5px;padding-left:14px;float:left;display:inline}
.icon_bg04 span{background-position:right -241px;padding-right:2px}
.icon_qq{width:18px;height:18px;display:inline-block;background:url(../images/pic1/list_img.png?t=201406110959) -320px -120px no-repeat;cursor:pointer}
.icon_bg_lc span{color:#FFF;background:#F41100;white-space:nowrap;cursor:pointer}
.icon_bg_lc{display:inline-block;float:left;padding-right:2px;padding-left:2px;background:#F41100;margin-top:1px;margin-bottom:1px;height:15px;line-height:15px;margin-right:5px}
.cols05 .mr25{margin-right:25px}
.recommendbox{margin:10px 0;border:1px solid #e3e3e3;border-bottom:0;position:relative;z-index:0}
.recommendbox .ribbon{display:block;width:71px;height:45px;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat -190px -160px;overflow:hidden;position:absolute;top:-4px;right:-4px}
.recommendbox ul{padding:10px;border-bottom:1px solid #e3e3e3}
.recommendbox ul li{line-height:26px;word-break:break-all}
.recommendbox .icon_box{display:inline-block;padding-right:3px;vertical-align:-2px;_vertical-align:0}
.recommendbox .price{margin-right:5px;color:#f80;font-size:12px;font-weight:normal}
.recommendbox .price strong{font-weight:700;font-size:16px}
.recommendbox .tax{color:#777}
.recommendbox ul li div{margin-right:10px!important}
.recommendbox .btn{font-size:14px;border-bottom:1px solid #36c;color:#36c;cursor:pointer}
.recommendbox .btn:hover{color:#f60;border-bottom-color:#f60}
.recommendbox ul .li_jianLi{line-height:20px}
.recommendbox ul li p.li_jia{text-decoration:line-through;color:#666;position:relative;line-height:12px;display:block;height:12px;top:2px}
#mail_box_on{position:absolute;right:0;top:330px;z-index:15;width:400px}
.mail_box_on{position:absolute;right:0;top:330px;z-index:15}
.mailtitle{width:12px;padding:4px 4px;background:#FFCC5F;text-align:center;font-size:14px;cursor:pointer}
.mailtitle:hover{background:#ffb310}
.mailcon{padding:15px 10px 10px 15px;background:#fff0b5;text-align:center;border:1px solid #FFCC5F;position:relative;width:350px}
.mailcon .price{width:60px}
.mailcon ul li{padding:3px 0;clear:both}
.mailcon li .f_i_date_1{background:url(../images/pic1/list_img.png?t=201406110959) no-repeat 86px -287px #fff;border:1px solid #7f9db9;color:#777;cursor:pointer;height:18px;padding-right:2px;text-indent:2px;width:155px;line-height:18px}
.mailcon li .f_i_date_2{background:url(../images/pic1/list_img.png?t=201406110959) no-repeat 86px -325px #fff;border:1px solid #7f9db9;color:#777;cursor:pointer;height:18px;padding-right:2px;text-indent:2px;width:155px;line-height:18px}
.mailcon .emailbtn{background:url(../images/pic1/list_img.png?t=201406110959) no-repeat left -240px;width:88px;height:27px;border:0;cursor:pointer}
.close_btn{position:absolute;right:5px;top:5px;z-index:454}
.bg_huang{background:#FFC}
.mailcon .xiao,.mailcon .ku{display:inline-block;width:36px;height:36px;margin-right:10px;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat -100px -240px;overflow:hidden;vertical-align:middle}
.mailcon .ku{background-position:-100px -280px}
.mailcon a.ding{font-size:14px;color:#1568bd;line-height:34px}
.pd{padding:53px 0}
#day30pop table{width:100%}
#day30pop table tr td{border:1px solid #BFD8FF;text-align:center}
#day30pop table tr th{background:#F4F4F4;border:1px solid #BFD8FF;text-align:center;line-height:24px}
#day30pop table tr td a{position:relative;line-height:18px;padding:5px 0 5px 0;display:block;color:#404040;text-decoration:none}
#day30pop table tr td a .iconbox{position:absolute;top:3px;left:0;_left:-20px;background:url(../images/pic1/index_img.png?t=201406110959) no-repeat;background-position:-720px -130px;width:14px;height:13px;z-index:2}
#day30pop table tr td a:hover{background:#F3FAFC}
#day30pop table tr td a .data{color:#999;font-size:11px;line-height:11px}
#day30pop table tr td a strong{color:#FF890F;font-weight:bold}
#day30pop .loading{height:96px;padding-top:90px;background:url(../images/pic1/index_loading.gif?t=201406110959) no-repeat center 70px}
#day30pop .loading p{text-align:center}
#sale_pop table{width:100%}
#sale_pop table tr td{border:1px solid #BFD8FF;cursor:pointer;padding:5px 0;text-align:center}
#sale_pop table tr .sale_go{width:20px;padding:5px;background:#B5D2FF}
#sale_pop table tr .sale_go span{color:#404040;line-height:16px;display:inline-block;margin-bottom:5px}
#sale_pop table tr .sale_go .go{background:url(../images/pic1/list_img.png?t=201406110959) no-repeat -252px -213px #B5D2FF;overflow:hidden;margin:0;margin-top:-5px;display:block;height:12px}
#sale_pop table tr .sale_back{text-align:left;padding:5px;background:#B5D2FF}
#sale_pop table tr .sale_back em{font-family:宋体}
#sale_pop table tr .sale_back span{color:#404040}
#sale_pop table tr td a{position:relative;color:#b9b9b9;line-height:18px;padding:36px 0 36px 0;display:block;text-decoration:none}
#sale_pop table tr td a .iconbox{position:absolute;top:3px;left:0;_left:-9px;background:url(../images/pic1/index_img.png?t=201406110959) no-repeat;background-position:-720px -130px;width:14px;height:13px;z-index:2}
#sale_pop table tr td a .data{color:#999;font-size:11px;line-height:11px}
#sale_pop table tr td a strong{color:#FF890F;font-weight:bold}
#sale_pop table tr td a .price{color:#404040;font-size:16px;font-family:arial,SimSun,Verdana,Geneva,Helvetica;font-weight:bold}
#sale_pop table tr td a .p_low{color:#f80}
#sale_pop table tr td a .price em{font-size:12px}
#sale_pop table tr td .cx{padding:0;color:#36c}
#sale_pop .loading{height:30px;background:url(../images/pic1/index_loading.gif?t=201406110959) no-repeat center center}
#sale_pop .loading p{text-align:center}
#sale_pop .border_none{border:0}
.rec_timeBox{padding:15px;z-index:1000;width:220px;background:#F37600;text-align:center}
.rec_timeBox .time{color:#fff}
.rec_timeBox .goto{color:#000}
.rec_timeBox .goto span{font-family:Verdana,Geneva,sans-serif}
.rec_timeBox .close{position:absolute;top:-10px;right:-10px;display:block;width:24px;height:29px;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat -456px -170px;cursor:pointer}
.zzfltable .cols01{width:162px}
.zzfltable .cols02{width:160px}
.zzfltable .cols03{width:105px}
.zzfltable .cols04{width:65px}
.zzfltable .cols04 a{border-bottom:1px dashed #001D75;text-decoration:none}
.zzfltable .cols05{width:70px}
.zzfltable .cols02 p span{margin-right:3px}
.zzfltable td{border-bottom:1px dotted #ccc;padding:10px 0}
div.zzclose{text-align:center;margin:5px 0 0 0}
.zzfltable .icon_box{display:inline-block;padding-right:3px;margin-left:-24px;vertical-align:-2px;_vertical-align:0}
#fpagebox .seonav{color:#666;float:left}
#fpagebox .seonav a{text-decoration:none}
.list_seo{border:1px solid #e1e1e1;margin-top:10px;padding:5px 10px}
.list_seo h3{font-weight:bold;color:#666;border-bottom:#ccc 1px dashed;margin-bottom:5px;line-height:25px}
.list_seo li{float:left;width:145px}
.list_seo a{text-decoration:none;color:#777}
.list_seo a:hover{text-decoration:underline}
#f_main .list_seo a{text-decoration:none;color:#777}
#f_main .list_seo a:hover{text-decoration:underline}
#content #f_main .nosearch{margin:10px auto 5px;padding:15px 10px 10px;border:1px solid #fec63b;border-bottom-width:2px;background:#fffbe1}
#content #f_main .nosearch a{text-decoration:underline;color:#1568bd}
#content #f_main .nosearch a:hover{color:#f80}
#scrolltop{display:block;width:50px;height:50px;line-height:999px;margin:-30px 0 0;background:url(../images/pic1/backTop.png?t=201406110959) no-repeat;visibility:hidden;overflow:hidden;cursor:pointer;position:fixed;bottom:50px}
#scrolltop:hover{background-position:0 -50px}
#scrolltop{_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,50)||0)-(parseInt(this.currentStyle.marginBottom,50)||0)));_bottom:auto}
.fly_loading{width:400px;padding:20px 0;color:#666;font-size:14px}
.fly_loading dt{width:40px;height:40px;float:left;margin:0 10px}
.fly_loading dd{width:310px;float:left}
.fly_loading .loading{width:40px;height:40px;vertical-align:middle;background:url(../images/pic1/loading3.gif?t=201406110959) no-repeat;display:inline-block}
.pricebox{width:195px;z-index:10000;padding:5px 10px;text-align:left;position:absolute;left:83px;top:-44px;border-bottom:1px solid #CFCFCF;background:#FFFCE8;box-shadow:1px 1px 3px #ddd;height:61px;_left:80px}
.pricebox i{width:11px;height:8px;overflow:hidden;display:block;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat right -378px;position:absolute;bottom:8px;left:-10px}
.pricebox .total{display:inline-block;padding-right:10px;color:#000}
.pricebox .total .price{font-size:14px;font-weight:700;margin-left:1px}
.pricebox .detail{display:inline-block;padding-left:5px;color:#999;border-left:1px solid #959595}
.flightlist .sold_out .cols04 .price{color:#AAA}
.flightlist .sold_out .pricebox{padding:15px 10px;height:21px;top:-24px}
.mh_jijin{color:#acacac;line-height:26px;padding-left:30px}
.phoneApp_down{background:#F3F3F3;padding-bottom:20px}
.phoneApp_down .app_bg{background:url(../images/pic1/app_down.png?t=201406110959) no-repeat;height:286px;display:block}
.phoneTel{text-align:center;margin-top:10px}
.phoneTel li{padding:3px 0 3px 0;list-style:none}
.phoneTel input.txt{width:165px;height:29px;border:1px solid #bbb;color:#999;padding-left:3px;line-height:29px}
.phoneTel input.but{width:170px;height:30px;background:url(../images/pic1/app_down.png?t=201406110959) no-repeat 0 -288px;border:0;text-align:center;color:#fff;font:16px "Microsoft Yahei",Simsun;cursor:pointer}
.phoneTel input.but:hover{background:url(../images/pic1/app_down.png?t=201406110959) no-repeat 0 -318px}
.cx_d_11{width:58px;height:15px;background:url(../images/pic1/d_11.png?t=201406110959) no-repeat;margin:1px 0;cursor:pointer}
.hn_tj_box{color:#F00;padding:10px 0 10px 20px;border:1px solid #E3E3E3;margin-bottom:10px}
.hn_tj_box .close{display:block;float:right;margin-right:10px;cursor:pointer;height:20px;width:20px;background:url(../images/pic1/list_img.png?t=201406110959) no-repeat left -190px}
.ul_wrap{border:1px #e6e6e6 solid}
.ul_wrap h3{font:16px/30px Microsoft Yahei,SimHei,sans-serif;background:#F7F7F7;padding:0 10px;height:30px}
.ul_wrap ul li{height:30px;padding:0 5px;line-height:30px;overflow:hidden;cursor:pointer}
.ul_wrap ul li:hover{background:#EFF5FC}
.ul_wrap ul li.alt{border-right:1px solid #e6e6e6}
.ul_wrap .cols01,.ul_wrap .cols02,.ul_wrap .cols03,.ul_wrap .cols04{display:inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;cursor:pointer}
.ul_wrap .cols01{width:90px;color:#000}
.ul_wrap .cols02{width:40px;color:#000}
.ul_wrap .cols03{width:40px;color:#000}
.ul_wrap .cols04{color:#f60;font-weight:700;font-family:Arial}
.ul_wrap a:hover{text-decoration:none;}
.bookinginfo{font-size:14px;color:#F60;padding:10px 0}
.Airlines_3J,.Airlines_3U,.Airlines_8C,.Airlines_8L,.Airlines_8M,.Airlines_A3,.Airlines_A7,.Airlines_AA,.Airlines_AB,.Airlines_AC,.Airlines_AE,.Airlines_AF,.Airlines_AI,.Airlines_AM,.Airlines_AN,.Airlines_AP,.Airlines_AR,.Airlines_AS,.Airlines_AU,.Airlines_AV,.Airlines_AY,.Airlines_AZ,.Airlines_B7,.Airlines_BA,.Airlines_BD,.Airlines_BI,.Airlines_BK,.Airlines_BR,.Airlines_CA,.Airlines_CI,.Airlines_CM,.Airlines_CO,.Airlines_CP,.Airlines_CX,.Airlines_CY,.Airlines_CZ,.Airlines_DL,.Airlines_DM,.Airlines_EG,.Airlines_EI,.Airlines_EK,.Airlines_ET,.Airlines_EU,.Airlines_EY,.Airlines_FI,.Airlines_FM,.Airlines_FT,.Airlines_FV,.Airlines_G5,.Airlines_GA,.Airlines_GE,.Airlines_GF,.Airlines_GL,.Airlines_HA,.Airlines_HO,.Airlines_HP,.Airlines_HU,.Airlines_HX,.Airlines_HY,.Airlines_IB,.Airlines_IE,.Airlines_IR,.Airlines_IT,.Airlines_JD,.Airlines_JL,.Airlines_JP,.Airlines_JS,.Airlines_JU,.Airlines_KA,.Airlines_KC,.Airlines_KE,.Airlines_KL,.Airlines_KM,.Airlines_KN,.Airlines_KQ,.Airlines_GS,.Airlines_KU,.Airlines_LA,.Airlines_LG,.Airlines_LH,.Airlines_LO,.Airlines_LT,.Airlines_LX,.Airlines_LY,.Airlines_MA,.Airlines_MD,.Airlines_MF,.Airlines_MH,.Airlines_MI,.Airlines_MK,.Airlines_MS,.Airlines_MU,.Airlines_NH,.Airlines_NS,.Airlines_NW,.Airlines_NX,.Airlines_NZ,.Airlines_OA,.Airlines_OK,.Airlines_OM,.Airlines_OS,.Airlines_OU,.Airlines_OZ,.Airlines_PG,.Airlines_PK,.Airlines_PR,.Airlines_PS,.Airlines_PX,.Airlines_QF,.Airlines_QR,.Airlines_QX,.Airlines_RA,.Airlines_RG,.Airlines_RJ,.Airlines_RM,.Airlines_RO,.Airlines_S2,.Airlines_S7,.Airlines_SA,.Airlines_SB,.Airlines_SC,.Airlines_SK,.Airlines_SN,.Airlines_SQ,.Airlines_SU,.Airlines_SV,.Airlines_TG,.Airlines_TK,.Airlines_TP,.Airlines_TU,.Airlines_TZ,.Airlines_UA,.Airlines_UL,.Airlines_UM,.Airlines_UN,.Airlines_UO,.Airlines_US,.Airlines_UX,.Airlines_VN,.Airlines_VP,.Airlines_VS,.Airlines_VV,.Airlines_VX,.Airlines_WN,.Airlines_XF,.Airlines_ZH,.Airlines_KY,.Airlines_PN,.Airlines_CN,.Airlines_JR,.Airlines_JQ,.Airlines_3K,.Airlines_VF,.Airlines_BL,.Airlines_GK,.Airlines_K6,.Airlines_GJ,.Airlines_AK,.Airlines_Z2,.Airlines_QZ,.Airlines_JW,.Airlines_PQ,.Airlines_D7,.Airlines_FD,.Airlines_DZ{background:url(../images/pic1/logo1818_145.png?t=201406110959) no-repeat;width:18px;height:18px}
.Airlines_3J_B,.Airlines_3U_B,.Airlines_8C_B,.Airlines_8L_B,.Airlines_8M_B,.Airlines_A3_B,.Airlines_A7_B,.Airlines_AA_B,.Airlines_AB_B,.Airlines_AC_B,.Airlines_AE_B,.Airlines_AF_B,.Airlines_AI_B,.Airlines_AM_B,.Airlines_AN_B,.Airlines_AP_B,.Airlines_AR_B,.Airlines_AS_B,.Airlines_AU_B,.Airlines_AV_B,.Airlines_AY_B,.Airlines_AZ_B,.Airlines_B7_B,.Airlines_BA_B,.Airlines_BD_B,.Airlines_BI_B,.Airlines_BK_B,.Airlines_BR_B,.Airlines_CA_B,.Airlines_CI_B,.Airlines_CM_B,.Airlines_CO_B,.Airlines_CP_B,.Airlines_CX_B,.Airlines_CY_B,.Airlines_CZ_B,.Airlines_DL_B,.Airlines_DM_B,.Airlines_EG_B,.Airlines_EI_B,.Airlines_EK_B,.Airlines_ET_B,.Airlines_EU_B,.Airlines_EY_B,.Airlines_FI_B,.Airlines_FM_B,.Airlines_FT_B,.Airlines_FV_B,.Airlines_G5_B,.Airlines_GA_B,.Airlines_GE_B,.Airlines_GF_B,.Airlines_GL_B,.Airlines_HA_B,.Airlines_HO_B,.Airlines_HP_B,.Airlines_HU_B,.Airlines_HX_B,.Airlines_HY_B,.Airlines_IB_B,.Airlines_IE_B,.Airlines_IR_B,.Airlines_IT_B,.Airlines_JD_B,.Airlines_JL_B,.Airlines_JP_B,.Airlines_JS_B,.Airlines_JU_B,.Airlines_KA_B,.Airlines_KC_B,.Airlines_KE_B,.Airlines_KL_B,.Airlines_KM_B,.Airlines_KN_B,.Airlines_KQ_B,.Airlines_GS_B,.Airlines_KU_B,.Airlines_LA_B,.Airlines_LG_B,.Airlines_LH_B,.Airlines_LO_B,.Airlines_LT_B,.Airlines_LX_B,.Airlines_LY_B,.Airlines_MA_B,.Airlines_MD_B,.Airlines_MF_B,.Airlines_MH_B,.Airlines_MI_B,.Airlines_MK_B,.Airlines_MS_B,.Airlines_MU_B,.Airlines_NH_B,.Airlines_NS_B,.Airlines_NW_B,.Airlines_NX_B,.Airlines_NZ_B,.Airlines_OA_B,.Airlines_OK_B,.Airlines_OM_B,.Airlines_OS_B,.Airlines_OU_B,.Airlines_OZ_B,.Airlines_PG_B,.Airlines_PK_B,.Airlines_PR_B,.Airlines_PS_B,.Airlines_PX_B,.Airlines_QF_B,.Airlines_QR_B,.Airlines_QX_B,.Airlines_RA_B,.Airlines_RG_B,.Airlines_RJ_B,.Airlines_RM_B,.Airlines_RO_B,.Airlines_S2_B,.Airlines_S7_B,.Airlines_SA_B,.Airlines_SB_B,.Airlines_SC_B,.Airlines_SK_B,.Airlines_SN_B,.Airlines_SQ_B,.Airlines_SU_B,.Airlines_SV_B,.Airlines_TG_B,.Airlines_TK_B,.Airlines_TP_B,.Airlines_TU_B,.Airlines_TZ_B,.Airlines_UA_B,.Airlines_UL_B,.Airlines_UM_B,.Airlines_UN_B,.Airlines_UO_B,.Airlines_US_B,.Airlines_UX_B,.Airlines_VN_B,.Airlines_VP_B,.Airlines_VS_B,.Airlines_VV_B,.Airlines_VX_B,.Airlines_WN_B,.Airlines_XF_B,.Airlines_ZH_B,.Airlines_KY_B,.Airlines_JQ_B,.Airlines_3K_B,.Airlines_VF_B,.Airlines_BL_B,.Airlines_GK_B,.Airlines_AK_B,.Airlines_Z2_B,.Airlines_QZ_B,.Airlines_JW_B,.Airlines_PQ_B,.Airlines_D7_B,.Airlines_FD_B,.Airlines_DZ_B{background:url(../images/pic1/logo2727_145.png?t=201406110959) no-repeat;width:27px;height:27px}
.Airlines_3J{background-position:-1px 0}
.Airlines_3U{background-position:-20px 0}
.Airlines_8C{background-position:-40px 0}
.Airlines_8L{background-position:-60px 0}
.Airlines_8M{background-position:-80px 0}
.Airlines_A3{background-position:-100px 0}
.Airlines_A7{background-position:-120px 0}
.Airlines_AA{background-position:-140px 0}
.Airlines_AB{background-position:-160px 0}
.Airlines_AC{background-position:-180px 0}
.Airlines_AE{background-position:0 -20px}
.Airlines_AF{background-position:-20px -20px}
.Airlines_AI{background-position:-40px -20px}
.Airlines_AM{background-position:-60px -20px}
.Airlines_AN{background-position:-80px -20px}
.Airlines_AP{background-position:-100px -20px}
.Airlines_AR{background-position:-120px -20px}
.Airlines_AS{background-position:-140px -20px}
.Airlines_AU{background-position:-160px -20px}
.Airlines_AV{background-position:-180px -20px}
.Airlines_AY{background-position:0 -40px}
.Airlines_AZ{background-position:-20px -40px}
.Airlines_B7{background-position:-40px -40px}
.Airlines_BA{background-position:-60px -40px}
.Airlines_BD{background-position:-80px -40px}
.Airlines_BI{background-position:-100px -40px}
.Airlines_BK{background-position:-120px -40px}
.Airlines_BR{background-position:-140px -40px}
.Airlines_CA{background-position:-160px -40px}
.Airlines_CI{background-position:-180px -40px}
.Airlines_CM{background-position:0 -60px}
.Airlines_CO{background-position:-20px -60px}
.Airlines_CP{background-position:-40px -60px}
.Airlines_CX{background-position:-60px -60px}
.Airlines_CY{background-position:-80px -60px}
.Airlines_CZ{background-position:-100px -60px}
.Airlines_DL{background-position:-120px -60px}
.Airlines_DM{background-position:-140px -60px}
.Airlines_EG{background-position:-160px -60px}
.Airlines_EI{background-position:-180px -60px}
.Airlines_EK{background-position:0 -80px}
.Airlines_ET{background-position:-20px -80px}
.Airlines_EU{background-position:-40px -80px}
.Airlines_EY{background-position:-60px -80px}
.Airlines_FI{background-position:-80px -80px}
.Airlines_FM{background-position:-100px -80px}
.Airlines_FT{background-position:-120px -80px}
.Airlines_FV{background-position:-140px -80px}
.Airlines_G5{background-position:-160px -80px}
.Airlines_GA{background-position:-180px -80px}
.Airlines_GE{background-position:0 -100px}
.Airlines_GF{background-position:-20px -100px}
.Airlines_GL{background-position:-40px -100px}
.Airlines_HA{background-position:-60px -100px}
.Airlines_HO{background-position:-80px -100px}
.Airlines_HP{background-position:-100px -100px}
.Airlines_HU{background-position:-120px -100px}
.Airlines_HX{background-position:-140px -100px}
.Airlines_HY{background-position:-160px -100px}
.Airlines_IB{background-position:-180px -100px}
.Airlines_IE{background-position:0 -120px}
.Airlines_IR{background-position:-20px -120px}
.Airlines_IT{background-position:-40px -120px}
.Airlines_JD{background-position:-60px -120px}
.Airlines_JL{background-position:-80px -120px}
.Airlines_JP{background-position:-100px -120px}
.Airlines_JS{background-position:-120px -120px}
.Airlines_JU{background-position:-140px -120px}
.Airlines_KA{background-position:-160px -120px}
.Airlines_KC{background-position:-180px -120px}
.Airlines_KE{background-position:0 -140px}
.Airlines_KL{background-position:-20px -140px}
.Airlines_KM{background-position:-40px -140px}
.Airlines_KN{background-position:-60px -140px}
.Airlines_KQ{background-position:-80px -140px}
.Airlines_GS{background-position:-100px -140px}
.Airlines_KU{background-position:0 -160px}
.Airlines_LA{background-position:-20px -160px}
.Airlines_LG{background-position:-40px -160px}
.Airlines_LH{background-position:-60px -160px}
.Airlines_LO{background-position:-80px -160px}
.Airlines_LT{background-position:-100px -160px}
.Airlines_LX{background-position:-120px -160px}
.Airlines_LY{background-position:-140px -160px}
.Airlines_MA{background-position:-160px -160px}
.Airlines_MD{background-position:-180px -160px}
.Airlines_MF{background-position:0 -180px}
.Airlines_MH{background-position:-20px -180px}
.Airlines_MI{background-position:-40px -180px}
.Airlines_MK{background-position:-60px -180px}
.Airlines_MS{background-position:-80px -180px}
.Airlines_MU{background-position:-100px -180px}
.Airlines_NH{background-position:-120px -180px}
.Airlines_NS{background-position:-140px -180px}
.Airlines_NW{background-position:-160px -180px}
.Airlines_NX{background-position:-180px -180px}
.Airlines_NZ{background-position:0 -200px}
.Airlines_OA{background-position:-20px -200px}
.Airlines_OK{background-position:-40px -200px}
.Airlines_OM{background-position:-60px -200px}
.Airlines_OS{background-position:-80px -200px}
.Airlines_OU{background-position:-100px -200px}
.Airlines_OZ{background-position:-120px -200px}
.Airlines_PG{background-position:-140px -200px}
.Airlines_PK{background-position:-160px -200px}
.Airlines_PR{background-position:-180px -200px}
.Airlines_PS{background-position:0 -220px}
.Airlines_PX{background-position:-20px -220px}
.Airlines_QF{background-position:-40px -220px}
.Airlines_QR{background-position:-60px -220px}
.Airlines_QX{background-position:-80px -220px}
.Airlines_RA{background-position:-100px -220px}
.Airlines_RG{background-position:-120px -220px}
.Airlines_RJ{background-position:-140px -220px}
.Airlines_RM{background-position:-160px -220px}
.Airlines_RO{background-position:-180px -220px}
.Airlines_S2{background-position:0 -240px}
.Airlines_S7{background-position:-20px -240px}
.Airlines_SA{background-position:-40px -240px}
.Airlines_SB{background-position:-60px -240px}
.Airlines_SC{background-position:-80px -240px}
.Airlines_SK{background-position:-100px -240px}
.Airlines_SN{background-position:-120px -240px}
.Airlines_SQ{background-position:-140px -240px}
.Airlines_SU{background-position:-160px -240px}
.Airlines_SV{background-position:-180px -240px}
.Airlines_TG{background-position:0 -260px}
.Airlines_TK{background-position:-20px -260px}
.Airlines_TP{background-position:-40px -260px}
.Airlines_TU{background-position:-60px -260px}
.Airlines_TZ{background-position:-80px -260px}
.Airlines_UA{background-position:-100px -260px}
.Airlines_UL{background-position:-120px -260px}
.Airlines_UM{background-position:-140px -260px}
.Airlines_UN{background-position:-160px -260px}
.Airlines_UO{background-position:-180px -260px}
.Airlines_PN{background-position:-180px -260px}
.Airlines_US{background-position:0 -280px}
.Airlines_UX{background-position:-20px -280px}
.Airlines_VN{background-position:-40px -280px}
.Airlines_VP{background-position:-60px -280px}
.Airlines_VS{background-position:-80px -280px}
.Airlines_VV{background-position:-100px -280px}
.Airlines_VX{background-position:-120px -280px}
.Airlines_WN{background-position:-140px -280px}
.Airlines_XF{background-position:-160px -280px}
.Airlines_ZH{background-position:-180px -280px}
.Airlines_KY{background-position:0 -300px}
.Airlines_K6{background-position:-40px -302px}
.Airlines_GJ{background-position:-60px -302px}
.Airlines_CN{background-position:-120px -100px}
.Airlines_JR{background-position:-120px -140px}
.Airlines_JQ,.Airlines_3K,.Airlines_VF,.Airlines_BL,.Airlines_GK{background-position:-20px -300px}
.Airlines_AK,.Airlines_Z2,.Airlines_QZ,.Airlines_JW,.Airlines_PQ,.Airlines_D7,.Airlines_FD{background-position:-84px -300px}
.Airlines_DZ{background-position:-122px -302px}
.Airlines_3J_B{background-position:-1px 0}
.Airlines_3U_B{background-position:-29px 0}
.Airlines_8C_B{background-position:-58px 0}
.Airlines_8L_B{background-position:-87px 0}
.Airlines_8M_B{background-position:-116px 0}
.Airlines_A3_B{background-position:-145px 0}
.Airlines_A7_B{background-position:-174px 0}
.Airlines_AA_B{background-position:-203px 0}
.Airlines_AB_B{background-position:-232px 0}
.Airlines_AC_B{background-position:-261px 0}
.Airlines_AE_B{background-position:0 -29px}
.Airlines_AF_B{background-position:-29px -29px}
.Airlines_AI_B{background-position:-58px -29px}
.Airlines_AM_B{background-position:-87px -29px}
.Airlines_AN_B{background-position:-116px -29px}
.Airlines_AP_B{background-position:-145px -29px}
.Airlines_AR_B{background-position:-174px -29px}
.Airlines_AS_B{background-position:-203px -29px}
.Airlines_AU_B{background-position:-232px -29px}
.Airlines_AV_B{background-position:-261px -29px}
.Airlines_AY_B{background-position:0 -58px}
.Airlines_AZ_B{background-position:-29px -58px}
.Airlines_B7_B{background-position:-58px -58px}
.Airlines_BA_B{background-position:-87px -58px}
.Airlines_BD_B{background-position:-116px -58px}
.Airlines_BI_B{background-position:-145px -58px}
.Airlines_BK_B{background-position:-174px -58px}
.Airlines_BR_B{background-position:-203px -58px}
.Airlines_CA_B{background-position:-232px -58px}
.Airlines_CI_B{background-position:-261px -58px}
.Airlines_CM_B{background-position:0 -87px}
.Airlines_CO_B{background-position:-29px -87px}
.Airlines_CP_B{background-position:-58px -87px}
.Airlines_CX_B{background-position:-87px -87px}
.Airlines_CY_B{background-position:-116px -87px}
.Airlines_CZ_B{background-position:-145px -87px}
.Airlines_DL_B{background-position:-174px -87px}
.Airlines_DM_B{background-position:-203px -87px}
.Airlines_EG_B{background-position:-232px -87px}
.Airlines_EI_B{background-position:-261px -87px}
.Airlines_EK_B{background-position:0 -116px}
.Airlines_ET_B{background-position:-29px -116px}
.Airlines_EU_B{background-position:-58px -116px}
.Airlines_EY_B{background-position:-87px -116px}
.Airlines_FI_B{background-position:-116px -116px}
.Airlines_FM_B{background-position:-145px -116px}
.Airlines_FT_B{background-position:-174px -116px}
.Airlines_FV_B{background-position:-203px -116px}
.Airlines_G5_B{background-position:-232px -116px}
.Airlines_GA_B{background-position:-261px -116px}
.Airlines_GE_B{background-position:0 -145px}
.Airlines_GF_B{background-position:-29px -145px}
.Airlines_GL_B{background-position:-58px -145px}
.Airlines_HA_B{background-position:-87px -145px}
.Airlines_HO_B{background-position:-116px -145px}
.Airlines_HP_B{background-position:-145px -145px}
.Airlines_HU_B{background-position:-174px -145px}
.Airlines_HX_B{background-position:-203px -145px}
.Airlines_HY_B{background-position:-232px -145px}
.Airlines_IB_B{background-position:-261px -145px}
.Airlines_IE_B{background-position:0 -174px}
.Airlines_IR_B{background-position:-29px -174px}
.Airlines_IT_B{background-position:-58px -174px}
.Airlines_JD_B{background-position:-87px -174px}
.Airlines_JL_B{background-position:-116px -174px}
.Airlines_JP_B{background-position:-145px -174px}
.Airlines_JS_B{background-position:-174px -174px}
.Airlines_JU_B{background-position:-203px -174px}
.Airlines_KA_B{background-position:-232px -174px}
.Airlines_KC_B{background-position:-261px -174px}
.Airlines_KE_B{background-position:0 -203px}
.Airlines_KL_B{background-position:-29px -203px}
.Airlines_KM_B{background-position:-58px -203px}
.Airlines_KN_B{background-position:-87px -203px}
.Airlines_KQ_B{background-position:-116px -203px}
.Airlines_GS_B{background-position:-145px -203px}
.Airlines_PN_B{background-position:-87px -174px}
.Airlines_KU_B{background-position:-1px -232px}
.Airlines_LA_B{background-position:-29px -232px}
.Airlines_LG_B{background-position:-58px -232px}
.Airlines_LH_B{background-position:-87px -232px}
.Airlines_LO_B{background-position:-116px -232px}
.Airlines_LT_B{background-position:-145px -232px}
.Airlines_LX_B{background-position:-174px -232px}
.Airlines_LY_B{background-position:-203px -232px}
.Airlines_MA_B{background-position:-232px -232px}
.Airlines_MD_B{background-position:-261px -232px}
.Airlines_MF_B{background-position:0 -261px}
.Airlines_MH_B{background-position:-29px -261px}
.Airlines_MI_B{background-position:-58px -261px}
.Airlines_MK_B{background-position:-87px -261px}
.Airlines_MS_B{background-position:-116px -261px}
.Airlines_MU_B{background-position:-145px -261px}
.Airlines_NH_B{background-position:-174px -261px}
.Airlines_NS_B{background-position:-203px -261px}
.Airlines_NW_B{background-position:-232px -261px}
.Airlines_NX_B{background-position:-261px -261px}
.Airlines_NZ_B{background-position:0 -290px}
.Airlines_OA_B{background-position:-29px -290px}
.Airlines_OK_B{background-position:-58px -290px}
.Airlines_OM_B{background-position:-87px -290px}
.Airlines_OS_B{background-position:-116px -290px}
.Airlines_OU_B{background-position:-145px -290px}
.Airlines_OZ_B{background-position:-174px -290px}
.Airlines_PG_B{background-position:-203px -290px}
.Airlines_PK_B{background-position:-232px -290px}
.Airlines_PR_B{background-position:-261px -290px}
.Airlines_PS_B{background-position:0 -319px}
.Airlines_PX_B{background-position:-29px -319px}
.Airlines_QF_B{background-position:-58px -319px}
.Airlines_QR_B{background-position:-87px -319px}
.Airlines_QX_B{background-position:-116px -319px}
.Airlines_RA_B{background-position:-145px -319px}
.Airlines_RG_B{background-position:-174px -319px}
.Airlines_RJ_B{background-position:-203px -319px}
.Airlines_RM_B{background-position:-232px -319px}
.Airlines_RO_B{background-position:-261px -319px}
.Airlines_S2_B{background-position:0 -348px}
.Airlines_S7_B{background-position:-29px -348px}
.Airlines_SA_B{background-position:-58px -348px}
.Airlines_SB_B{background-position:-87px -348px}
.Airlines_SC_B{background-position:-116px -348px}
.Airlines_SK_B{background-position:-145px -348px}
.Airlines_SN_B{background-position:-174px -348px}
.Airlines_SQ_B{background-position:-203px -348px}
.Airlines_SU_B{background-position:-232px -348px}
.Airlines_SV_B{background-position:-261px -348px}
.Airlines_TG_B{background-position:0 -377px}
.Airlines_TK_B{background-position:-29px -377px}
.Airlines_TP_B{background-position:-58px -377px}
.Airlines_TU_B{background-position:-87px -377px}
.Airlines_TZ_B{background-position:-116px -377px}
.Airlines_UA_B{background-position:-145px -377px}
.Airlines_UL_B{background-position:-174px -377px}
.Airlines_UM_B{background-position:-203px -377px}
.Airlines_UN_B{background-position:-232px -377px}
.Airlines_UO_B{background-position:-261px -377px}
.Airlines_US_B{background-position:0 -406px}
.Airlines_UX_B{background-position:-29px -406px}
.Airlines_VN_B{background-position:-58px -406px}
.Airlines_VP_B{background-position:-87px -406px}
.Airlines_VS_B{background-position:-116px -406px}
.Airlines_VV_B{background-position:-145px -406px}
.Airlines_VX_B{background-position:-174px -406px}
.Airlines_WN_B{background-position:-203px -406px}
.Airlines_XF_B{background-position:-232px -406px}
.Airlines_ZH_B{background-position:-261px -406px}
.Airlines_KY_B{background-position:0 -435px}
.Airlines_JQ_B,.Airlines_3K_B,.Airlines_VF_B,.Airlines_BL_B,.Airlines_GK_B{background-position:-29px -435px}
.Airlines_AK_B,.Airlines_Z2_B,.Airlines_QZ_B,.Airlines_JW_B,.Airlines_PQ_B,.Airlines_D7_B,.Airlines_FD_B{background-position:-115px -435px}
.Airlines_DZ_B{background-position:-146px -435px}