* {
    margin: 0px;
    padding: 0px;
}

ul, li {
    list-style: none
}

.nav {
    width: 100%;
    height: 500px;
    background: url("../img/14367791486910.png") no-repeat center;
    overflow: hidden;
    *margin-top: -50px;
}

.nav .search {
    width: 600px;
    margin: 230px auto;
    padding: 20px;
    height: 100px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.6);
    *background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    overflow: hidden;

}

.nav .search input {
    font-size: 20px;
    line-height: 30px;
    width: 536px;
    height: 30px;
    padding: 10px 44px 10px 20px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", \9ED1\4F53, \5b8b\4f53, sans-serif;
    border: none;
    color: #636363;
    background: #fff url("../img/ind_sch.png") no-repeat 562px center;
}

.nav .search ul {
    width: 536px;
    height: 40px;
}

.nav .search ul li {
    float: left;
    color: #fff;
    font-size: 12px;
    line-height: 40px;
    padding-right: 10px;
    cursor: pointer
}

.nav .search a {
    color: #fff;
    font-size: 12px;;
    text-decoration: none
}

.nav .search a:hover {
    text-decoration: underline
}

.mid {
    width: 1120px;
    overflow: auto;
    margin: 50px auto;
}

.mid .listTab {
    width: 1120px;
    overflow: auto
}

.listTab h3 {
    color: #209ef6;
    font-size: 28px;
    font-family: "Microsoft YaHei";
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    width: 1090px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #898989
}

.listTab ul {
    padding-left: 10px;
    overflow: auto;
    margin-bottom: 10px;
}

.listTab ul li {
    padding-right: 10px;
    font-size: 14px;
    color: #333;
    float: left;
    padding-left: 10px;
    height: 20px;
    line-height: 20px;
    cursor: pointer
}

.listTab ul .active {
    background-color: #8c96a2;
    color: #fff;
    border-radius: 3px;
}

.mid .listContent {
    width: 1120px;
    height: 300px;
}

.listContent ul li {
    width: 250px;
    height: 267px;
    background-color: #f5f5f5;
    margin-right: 30px;
    float: left
}

.listContent ul li img {
    width: 250px;
    height: 200px;
}

.listContent ul li dl {
}

.listContent ul li dl dt {
    color: #333;
    padding-left: 10px;
    width: 240px;
    height: 30px;
    line-height: 30px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", \9ED1\4F53, \5b8b\4f53, sans-serif;
    font-size: 14px;
}

.listContent ul li dl dd {
    color: #333;
    padding-left: 10px;
    width: 240px;
    height: 30px;
    line-height: 30px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", \9ED1\4F53, \5b8b\4f53, sans-serif;
    font-size: 12px;
}

.listContent ul li dl dd span {
    color: #f63;
    font-size: 20px;
}

.listContent ul li dl dd span em {
    font-style: normal;
    font-size: 14px;
}



