@charset "utf-8";
/* CSS Document */
.f{float:left;}
.dl1{margin-left:25px;}
.dl2{margin-top:20px;}
.dl-anniu{ padding-left:78px; margin-top:20px;}
.font12{ font-size:12px; color:#666; font-family:Arial, Helvetica, sans-serif; font-weight:bold; line-height:28px;}
.font12-xi{ font-size:12px; color:#666; font-family:Arial, Helvetica, sans-serif; font-weight:normal;line-height:28px;}


