.huang14_c{ color:#FF8A00; font-size:16px; font-weight:bold; line-height:30px; }
.huang12{ color:#FF8A00; font-size:12px; }
.hui14{ color:#999999; font-size:12px; line-height:30px; }
.hui_xi{ color:#999999; font-size:12px; font-weight:100;}
.hui14_xi{ color:#999999; font-size:14px; font-weight:100;}
.lan14_cu1{ color:#479AF0; font-size:14px; font-weight:bold;}
.lan12{ color:#0A5EB5;}
.red{ color:#ff0000;}
.red_cu{ color:#B00000; font-weight:bold}
.red14_cu{ color:#ff0000; font-size:18px; font-weight:bold}
.bai14_cu{ color:#fff; font-size:14px; font-weight:bold;}
.lan_xia{ text-decoration:underline; color:#0099FF; font-size:12px;}
.lan12_cu{ color:#0099FF; font-weight:bold; }
.lan14_cu{ color:#FFFFFF; line-height:26px;}
.bai{ color: #fff; }
.hei14_cu{color:#6E6E6E; font-size:14px; font-weight:bold;}
.bai_c{color: #fff; font-weight: bold;}
.hong{ color: #ff0000; }