@charset "utf-8";
/* CSS Document */
*{ margin:0;
   padding:0;
   text-decoration:none;
   list-style:none;
}
li ul ol{
margin:0;
padding:0;
list-style-type:none;
} 
body{
	   background:#fff;
	  line-height:24px;
       font-size:12px; 
	   color:#000;
	   margin:0;
	   padding:0;
	   font-family: "微软雅黑", Tahoma, Geneva, sans-serif;
    }
img {vertical-align:middle; border:none; } 
*:lang(th) img{
    vertical-align:top!important
}
img:empty {
    vertical-align:top!important
} 
input{
vertical-align:middle;
margin-right:5px;
font-family:"微软雅黑", Tahoma, Geneva, sans-serif; padding-left:5px;
}
button{ cursor:pointer;}
select{font-family:"微软雅黑", Tahoma, Geneva, sans-serif;}
a{ color:#000;
   font-size:12px;
   text-decoration:none;
   cursor: pointer;
   behavior:url("../js/aout.htc")
}

a:focus {outline:0;}/*---火狐链接中去除虚线框---*/

a:hover{color:#f48000;
        text-decoration:underline;
}
.f{ float:left;
}
.r{float:right;
}
.c{clear:both}

.ad_box{ padding:1px; border:1px solid #bad1df; width:500px; height:218px;}
.mr0{ margin-right:0}
.mt3{ margin-top:3px;}
.mt7{ margin-top:7px;}
.mt10{ margin-top:10px}
.mt20{ margin-top:20px;}
.mb10{ margin-bottom:10px;}
.mr5{ margin-right:5px;}
.mr15{ margin-right:15px;}
.mr25{ margin-right:25px;}
.mlr{ margin:0 5px 0 5px}
.mf5{ margin-left:5px;}
.mf15{ margin-left:15px;}
.mf10{ margin-left:10px;}
.mf31{ margin-left:31px;}
.mf36{ margin-left:34px;}
.mf45{ margin-left:45px;}
.mf75{ margin-left:75px;}
.mlr8{ margin:0 4px 0 6px}
.mlr10{ margin:0 10px 0 10px}
.mlr15{ margin:0 15px 0 15px}
.m15{ margin:5px;}
.m10{ margin:10px;}
.mf50{ margin-left:150px;}
.pf5{ padding-left:5px;}
.pf50{ padding-left:50px;}
.pf30{ padding-left:30px;}
.pf20{ padding-left:20px;}
.pf25{ padding-left:25px;}
.pr10{ padding-right:10px;}
.pr20{ padding-right:20px;}
.pr80{ padding-right:80px;}
.pt5{ padding-top:5px;}
.lh16{ line-height:16px;}
.lh27{ line-height:27px;}
.lh30{ line-height:30px; height:30px;}
.lh34{ line-height:34px; height:34px;}


.wel, .chinese, .english, .on, .out,
.low2, .text_low2, .but_low, .text_city2,
.bnt_modify, .bst,
.bnt_book, .bnt_next2, .bnt_previous2,
.bnt_paid, .hadow, .order_all, .del_people,
.titnew{ background:url(../images/base.png) no-repeat;}

.top,.nav,.tit,.footer,.tips2{ background:url(../images/bg.png) repeat-x;}
.text_search{ width:141px; height:20px; line-height:20px; background:#fff; border:1px solid #9b9fb8; margin-right:0; margin-left:3px;}
.sel_search{ width:147px; height:22px; line-height:22px; background:#fff; border:1px solid #9b9fb8; margin-right:0; margin-left:3px;}
.sel_searchor{ width:145px; height:22px; line-height:22px; background:#fff; border:1px solid #ccc; margin-right:0; margin-left:3px;}
.sel_type{ width:56px; height:22px; line-height:22px; background:#fff; border:1px solid #cccccc; margin-right:0; margin-left:3px;}
.sel_typed{ width:127px; height:22px; line-height:22px; background:#fff; border:1px solid #cccccc; margin-right:0; margin-left:3px;}
.sel_documents{ width:61px; height:22px; line-height:22px; background:#fff; border:1px solid #cccccc; margin-right:0; margin-left:3px;}
.sel_fraction{ width:34px; height:22px; line-height:22px; background:#fff; border:1px solid #cccccc; margin-right:0; margin-left:3px;}
.text_searchwf{ width:65px;letter-spacing:-1.5px; height:20px; line-height:20px; background:#fff; border:1px solid #9b9fb8; margin-right:0; margin-left:3px;}
.text_name{ width:70px; height:20px; line-height:20px; background:#fff; border:1px solid #cccccc; margin-right:0; margin-left:3px;}
.text_nameorder{ width:90px; height:20px; line-height:20px; background:#fff; border:1px solid #cccccc; margin-right:3; margin-left:1px; margin-top:-3px;_margin-top:4px;}
.text_number{ width:120px; height:20px; line-height:20px; background:#fff; border:1px solid #cccccc; margin-right:0; margin-left:3px;}
.text_low2{ width:98px; height:23px; line-height:23px; background-position:-200px -230px; border:none; margin:5px 5px 0 5px;}
.text_city2{ width:61px; height:19px; line-height:19px; border:none; background-position:-280px -180px; margin:7px 0 0 10px; *margin:1px 0 0 10px !important; *margin:7px 0 0 10px; cursor:pointer;}
.text_regsit{ width:200px; height:24px; line-height:24px; border:1px solid #dadada}
.text_regsitd{ width:50px; height:24px; line-height:24px; border:1px solid #dadada}
.text_regsitlatter{ width:120px; height:24px; line-height:24px; border:1px solid #dadada;}
.text_regsitlang{ width:135px; height:24px; line-height:24px; border:1px solid #dadada; font-family: "宋体"}
.text_regsitlatt{ width:80px; height:24px; line-height:24px; border:1px solid #dadada}
.but_low{ width:33px; height:17px; line-height:17px; background-position:-280px -90px; border:none; margin:9px 5px 0 5px; padding-left:5px; cursor:pointer}
.button_search{ width:92px; height:40px; line-height:40px; text-align:center; background:url(../images/ico_index.png) -370px 0; border:none; color:#fff; cursor:pointer;}
.bst{width:92px; height:40px; line-height:40px; text-align:center; background-position:-280px 0; border:none; color:#fff;cursor:pointer;}

.bnt_modify{background-position:0 -370px; width:64px; height:25px; line-height:20px; border:none; text-align:center;cursor:pointer;}
.bnt_book{background-position:-80px -370px; width:64px; height:25px; line-height:20px; border:none; text-align:center;cursor:pointer;}
.bnt_next2{ background-position:-140px -480px; padding-right:15px; width:112px; height:38px; line-height:38px; border:none; text-align:center; cursor:pointer;}
.bnt_previous2{background-position:0px -480px; width:112px; height:38px; line-height:38px; border:none; text-align:center; cursor:pointer;}
.bnt_paid{background-position:-200px -260px; width:67px; height:22px; line-height:22px; border:none; text-align:center; cursor:pointer;}
.selnumber{ width:40px; height:22px; line-height:22px; border:1px solid #ccc}

.order_all{ background-position:-300px -250px; height:68px; padding-left:90px; margin:30px;}

.hand{ cursor:pointer;}
.text_right{ text-align:right;}
.text_left{ text-align:left;}
.text_center{ text-align:center;}

.box{ border:1px solid #e3e3e3}
.box_left{ border-left:1px solid #e3e3e3}
.box_leftfff{ border-left:1px solid #fff}
.box_right{ border-right:1px solid #e3e3e3}
.box_right_c{ border-right:1px solid #ccc}
.box_sea{ border:1px solid #cacae1}
.box_tell{ border:1px solid #e1e1ca}
.box_ccc{ border:1px solid #ccc}
.box_top{ border-top:1px solid #ccc}
.box_over{ border-bottom:1px solid #e3e3e3}
.box_over_top{ border-top:1px solid #e3e3e3}
.box_over_l{ border-bottom:1px solid #36beef}
.box_botm{border-bottom:1px solid #ccc}
.box_botm_xu{border-bottom:1px dashed #ccc}
.box_top_xu{border-top:1px dashed #ccc;}
.box_member{border:1px solid #b3b3b3}
.box_botno{ border-bottom:none;}
.box_topno{ border-top:none;}
.center{ margin:0 auto; width:1004px;}


.information{ width:98%; margin:0 auto;}/*公用的表格样式*/
.information table{ border-collapse:collapse;}
.information th{ border:1px solid #dadada; height:30px; line-height:30px; padding-left:5px;}
.information td{ border:1px solid #dadada; height:30px; line-height:30px; padding-left:5px;}
.hadow{ background-position:0 -530px ; background-color:#eee; } 
 
.hl24{ height:24px; line-height:24px;} 
 
.centerall{ margin:0 auto;} /*表格或div剧中*/
.titnew{ height:34px; line-height:34px; padding-left:30px; background-position:0 -180px;}
.tit{ height:34px; line-height:34px; background-position:0 -120px;}/*公用标题栏*/
.low2{ padding-left:30px; background-position:-1px -181px; height:33px; line-height:33px;}
.msg{ border:1px solid #e3e3e3; background:#f6f6f6;}/*公用提示样式*/
.msgul{ background:#fff; margin:3px;}
.msg_l{ border:1px solid #36beef; background:#e7f9ff;}/*公用提示样式*/
.msgul_l{ background:#fff; margin:3px;}
.nohave{ height:10px; line-height:10px; clear:both; overflow:hidden;}
.nohave5{ height:5px; line-height:5px; clear:both; overflow:hidden;}
.nohave6{ height:5px;_height:7px; overflow:hidden;}
*+html .nohave6{ height:8px;}
.floatall{ position:relative;}/*-----公用漂浮容器-----*/

#container{ background:url(../images/bj_index.gif) repeat-x;}
#header{ width:100%; margin:0 auto;}
#header .top{ line-height:30px; height:30px;}
#header .wel{ padding-left:25px;}
#header .middle{ height:96px;}
#header .logo{ padding:3px 30px 3px 30px;}
#header .adtop{ padding:17px 0}
#header .chinese{ padding-left:25px; background-position:0px -30px; line-height:20px; margin:25px 60px 0 0; width:80px;}
#header .english{ padding-left:25px; background-position:0px -60px; line-height:20px; margin:10px 60px 0 0;width:80px;}
#header .nav{ background-position:0 -40px; height:34px; padding-left:70px; }
#header .nav ul{}
#header .nav ul li{ float:left; text-align:center;}
#header .on{ background-position:-140px 0; width:100px;height:34px;}
#header .on a{ color:#000; font-size:14px; line-height:32px;}
#header .out{ background-position:-140px -40px;width:100px; height:34px;}
#header .out a{ color:#fff;font-size:14px; line-height:32px;}
#header .last{ width:102px;}

#footer{ background-position:0 -170px; height:106px; padding-top:20px; line-height:30px; text-align:center;}


